#header div.section, 
#featured div.section, 
#messages div.section, 
#main, 
#triptych, 
#footer-columns, 
#footer {
    margin-left: 5px;
    margin-right: auto;
    width: 100%;
}

.region-footer-fourthcolumn {
    left: 0;
    margin-left: 730px;
    position: absolute;
    top: 60px;
    width: 200px;
}

#sidebar-first, #sidebar-second {
    width: 27%;
}

.one-sidebar #content,
#content {
    width: 70%;
}
.no-sidebars #content {
	width:100%;
}
.node-type-homepage #main {
    width: 100%;
}
.home .box {
	width:30% !important;
}
