/* Document Image Icons */

/*a[href^="http:"] {
    display:inline-block;
    padding-right:19px;
    background:transparent url(img/icons/extern.gif) center right no-repeat;
}*/
/*a[href^="mailto:"] {
    display:inline-block;
    padding-left:20px;
    line-height:18px;
    background:transparent url(img/MailTo.gif) center left no-repeat;
}*/
/*a[href$='.pdf'] {
    display:inline-block;
    padding-left:20px;
    line-height:18px;
    background:transparent url(../img/icons/pdf.png) center left no-repeat;
}*/
a[href$='.doc'], a[href$='.rtf'], a[href$='.txt'], a[href$='.wps'], a[href$='.odt'], a[href$='.docx'], a[href$='.dot'] {
    display:inline-block;
    padding-left:20px;
    line-height:18px;
    background:transparent url(../img/icons/doc.png) center left no-repeat;
}
a[href^='#top'], a[href^='#Top'], a[href^='#TOP'] {
    display:inline-block;
    padding-left:20px;
    line-height:18px;
    background:transparent url(../img/icons/top.png) center left no-repeat;
}
