/* SBV BLUE #0b4395 */


header:after,
.main:after,
#Root:after,
.search-bar:after,
header .inner:after,
footer:after,
#hero:after {
    height: 0;
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
}
body {
    margin: 0;
    background: #d1d1d1;
    min-width: 240px;
    -webkit-text-size-adjust: none;
    font-family: Arial, Helvetica, sans-serif;
}
.ie7 body,
.ie8 body {
    min-width: 860px
}

.content img.left, .content img.right {
    border: 5px solid #d7d7d7;
    max-width: 60%;
    height: auto;
}
.content img.left {
	float: left;
  margin: 6px 20px 10px 0;
}
content img.right {
	float: right;
  margin: 6px 0 10px 20px;
}

.content ul {
    margin: 20px 0 20px 30px
}
.content li {
    line-height: 22px;
    margin-bottom: 5px;
    list-style-type: disc;
}
.content-container h1,
div.hero h1 {
    font-size: 2.2em;
    border-bottom: 1px solid #e5e5e5;
    padding-bottom: 6px;
    margin: 0 0 23px 0;
    line-height: 1.4em;
}
	.content-container h1 span.amp {
	    font-family: Baskerville,"Goudy Old Style","Palatino","Book Antiqua",Georgia;
	    font-style: italic;
	}
.content-container h2,
div.hero h2 {
    font-size:1.4em;
    margin-bottom: 15px;
    padding-top: 15px;
    line-height: 1.6em;
}
.content-container h3
div.hero h3 {
    font-size: 1.3em;
    margin-bottom: 10px;
    padding-top: 10px;
}
.content a {
    border-bottom: 1px dashed #b80000
}



/* Monkee Blog */
div.TeaserBild div.teaserPic {
	float:left;
	width:38%;
}
div.TeaserBild div.teaserPic img {
	width:90%;
	margin-bottom:30px;
}
div.TeaserBild div.text {
	float:right;
	width:60%;
}



.brand {
    float: left;
    display: inline-block;
}
	.brand h1 {
	    margin: 0;
	    padding: 0;
	    font-size: 2.2em;
	    font-family: "HelveticaNeueLTPro-Bd", "Helvetica Neue LT Pro Bold", "HelveticaNeueBold", "HelveticaNeue-Bold", "Helvetica Neue Bold", "Helvetica Neue LT Pro", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
	    color: #fff;
	    font-weight: 600;
	    font-stretch: normal;
	    line-height: 1em;
	}
.brand,
.brand:hover {
    color: #fff
}
	.brand p {
	    color: #888;
	    margin-bottom: 22px;
	}
.search-bar form input.action,
.header .primary li a,
.footer a {
    -moz-transition: color 0.2s;
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
}
/* Search Form */
.search-bar {
    position: absolute;
    right: 30px;
    top: 34px;
}
.search-dropdown-icon {
    display: none
}
.search-bar form fieldset {
    position: relative;
    padding: 0;
    margin: 0;
}
.search-bar form input.text {
    width: 155px;
    padding:6px 35px 6px 10px;
    color: #888;
    margin: 0;
    border: none;
    border-radius: 20px;
    background: #fff;
    font-family: Arial, Helvetica, sans-serif;
}
.search-bar form input.active {
    color: #000
}
.search-bar form input.action {
    font-size: 15px;
    position: absolute;
    right: 3px;
    top: -1px;
    cursor: pointer;
    border: none;
    padding: 5px;
    background: none;
    font-family: 'WebSymbolsRegular';
    color: #848484;
	 border-radius:0;
	 margin-top:0;
}
.search-bar form input.action:hover {
    color: #000
}

#Search {
	padding:0;
}

.search-bar form input:focus,
.header textarea:focus {
    outline: none
}
.header .primary ul {
    /*float: right; margin:23px -12px 0 0;*/ /*position:absolute; bottom:0; right:17px;*/
}
.header .primary li {
    float: left;
    padding-bottom: 17px;
    margin: 0 5px;
    position: relative;
    white-space: nowrap;
}
	.header .primary li a {
	    color: #888;
	    font-size: 1.2em;
	    font-family: Helvetica, Arial, sans-serif;
	    padding: 6px 8px;
	    font-weight: bold;
	    display: block;
	}
	.header .primary li a:hover {
	    color: #fff
	}
.header .primary li.section a,
.header .primary li.current a {
    color: #fff
}
.header .primary li.section:after,
.header .primary li.current:after {
    content: '}';
    display: block;
    position: absolute;
    left: 50%;
    margin-left: -7px;
    bottom: -6px;
    font-family: 'WebSymbolsRegular';
    font-size: 2em;
    color: #fff;
    text-align: center;
    line-height: 20px;
}
/* when navigation and logo overlap tablet-nav is initialized */
.tablet-nav .brand p {
    margin-bottom: 0
}
.tablet-nav .header .inner {
    padding-top: 0px
}
.tablet-nav .header .primary ul {
    float: left;
    clear: both;
    position: relative;
    margin: 20px 0 4px -12px;
    white-space: nowrap;
    right: auto;
    /*background:#0b4395;*/
    text-align:middle;
    border-bottom:solid white 15px;
}
	.tablet-nav .header .primary ul li {
	    margin-bottom: 10px;
	    padding-bottom: 0;
	    white-space: nowrap;

	}
		.tablet-nav .header .primary ul li a {
		    -moz-transition: none;
		    -webkit-transition: none;
		    transition: none;
	    	    font-weight:bold;
		    font-size
		}
	.tablet-nav .header .primary ul li.current a,
	.tablet-nav .header .primary ul li.section a {
	    background-color: #525252;
	    border-radius: 4px;
	}
.tablet-nav .header .primary li.section:after,
.tablet-nav .header .primary li.current:after {
    display: none
}
.tablet-nav .footer .right {
    float: left;
    width: 100%;
}
.header .nav-open-button {
    display: none
}
.tablet-nav .header .nav-open-button {
    display:inline;
}
.inner {
    max-width: 1100px;
    margin: auto;
    padding: 0 30px;
}
.ie6 .inner {
    width: 960px
}
.main {
    background: #d1d1d1;
    padding: 50px 0 60px;
}
aside {
    float: right;
    width: 23%;
    margin-top: 17px;
}
.secondary h3 {
    font-size: 1.5em;
    color: #b8b7b7;
    margin: 0 0 8px 0;
}
.secondary {
    border-bottom: 1px solid #E5E5E5;
    margin-bottom: 25px;
}
	.secondary ul {
	    padding: 0;
	    margin: 0;
	}
	.secondary li {
	    border-top: 1px solid #e5e5e5;
	    position: relative;
	    list-style-type: none;
	}
		.secondary li .arrow {
		    color: #b80000;
		    padding-right: 5px;
		    display: block;
		    font-size: 1.1em;
		    line-height: 20px;
		    position: absolute;
		    left: 2px;
		    top: 5px;
		    -moz-transition: 0.2s;
		    -webkit-transition: 0.2s;
		    transition: 0.2s;
		}
	.secondary li:hover .arrow {
	    left: 6px
	}
	.secondary li a {
	    padding: 8px 0;
	    display: block;
	    width: 100%;
	    text-transform: uppercase;
	    letter-spacing: 2px;
	    font-size: 1em;
	    color: #333;
	    line-height: 17px;
	    font-family: 'Lucida Sans', 'Lucida Grande', Arial, Helvetica, sans-serif;
	}
	.secondary li .text {
	    padding-left: 28px;
	    display: block;
	}
	.secondary li.section,
	.secondary li.current {
	    background-color: #f7f7f7
	}
		.secondary li.section a,
		.secondary li.current a {
		    color: #000
		}
.content-container {
    padding-bottom: 20px;
}
.no-sidebar .content-container {
    float: left;
    width:100%;
}

.no-sidebar aside {
	display:none;
}


.tablet-nav .header .inner img {

	margin-left:10px;
	
}

/* Search Results */
.searchResults h1 {
    font-size: 36px;
    margin-bottom: 15px;
}
.searchResults p.searchQuery {
    color: #333;
    margin-bottom: 10px;
}
.searchResults ul#SearchResults {
    padding: 0
}
	.searchResults ul#SearchResults li {
	    border-top: 1px solid #e5e5e5;
	    padding: 20px 0;
	    list-style-type: none;
	}
	.searchResults ul#SearchResults p {
	    margin-bottom: 12px
	}
	.searchResults ul#SearchResults a.searchResultHeader {
	    font-size: 16px;
	    font-weight: bold;
	    margin-bottom: 6px;
	    display: block;
	}
.searchResults #PageNumbers {
    border-top: 1px solid #e5e5e5;
    padding-top: 20px;
}
	.searchResults #PageNumbers a {
	    padding: 0 5px
	}
	.searchResults #PageNumbers .pagination {
	    float: left
	}
	.searchResults #PageNumbers p {
	    float: right
	}
	.searchResults #PageNumbers .next,
	.searchResults #PageNumbers .prev {
	    font-size: 14px
	}
	.searchResults #PageNumbers .next {
	    margin-left: 15px
	}
	.searchResults #PageNumbers .prev {
	    margin-right: 15px
	}
/* Footer */
.footer {
    color: #999;
    background: #ededed;
    padding: 20px 0;
    font-size: 11px;
    line-height: 22px;
}
	.footer a {
	    color: #999
	}
	.footer a:hover {
	    color: #000
	}
	.footer .left {
	    float: left;
	    color: #000;
	    display: block;
	    margin-bottom: 10px;
	}
	.footer .right {
	    float: right;
	    display: block;
	    margin-bottom: 10px;
	}
	.footer span {
	    padding: 0 3px;
	    color: #bbb;
	}
	.footer .primary,
	.footer .primary ul {
	    display: inline;
	    margin: 0;
	    padding: 0;
	}
		.footer .primary li {
		    display: inline
		}
.ie6 .footer .primary li,
.ie7 .footer .primary li {
    display: inline;
    zoom: 1;
    margin-right: 10px;
}
.footer .primary li:after {
    padding: 0 3px 0 5px;
    content: '/';
    color: #999;
}
.footer .primary li:last-child:after {
    content: ''
}
.footer .arrow {
    padding: 0 8px 0 5px;
    color: #b80000;
    font-size: 1em;
}
.footer .primary .nav-open-button {
    display: none
}
.footer .primary ul#nav .menu-bubble-arrow {
    display: none
}
#media-query-trigger {
    display: none;
    visibility: hidden;
}
@media only screen and (max-width: 960px) { 
	.content img {
	    max-width: 97%;
	    height: auto;
	}
	.header .primary ul {
	    margin-left: 0px;
	    -webkit-padding-start: 0px;
		text-align:left;
	}
}
/* when changing the breakpoint below, change it ito the same value in the script.js file as well */
@media only screen and (max-width: 640px) { 
	body {
	    max-width: 640px
	}
	#media-query-trigger {
	    visibility: visible
	}10.10
	.brand {
	    float: none;
	    display: inline-block;
	    margin-left: 22px;
	    margin-bottom: 22px;
	}
		.brand h1 {
		    font-size: 2.6em;
		}
		.brand h1 {
		    padding-right: 80px
		}
	.header {
	    padding: 0px
	}
		.header .inner {
		    padding: 20px 0 0 0;
		    min-height: 0;
		}
		.header .primary .nav-open-button {
 		   color: #0b4395;
 		   display: inline;
		}
		.header .primary ul {
		    z-index: 10;
		    position: relative;
		    display: none;
		    float: left;
		    margin: 0 !important;
		    padding: 0;
		    white-space: normal;
		    width: 100%;
		}
			.header .primary ul li {
			    width: 100%;
			    margin: 0 !important;
			    float: none;
			    background: none;
			    position: relative;
			    text-shadow: 0 1px #fff;
			}
			.DISABLE.header .primary ul li:after {
			    content: '\003e';
			    display: block;
			    position: absolute;
			    right: 20px;
			    top: 0px;
			    font-family: 'WebSymbolsRegular';
			    font-size: 14px;
			    color: #999;
			    text-align: center;
			    vertical-align: middle;
			    line-height: 38px;
			}
			.header .primary ul li a,
			.header .primary ul li.current a,
			.header .primary ul li.section a {
			    padding: 10px 0 10px 22px;
			    font-weight: bold;
			    border-radius: 0 !important;
			    
			}
			.header .primary ul li a:hover {
			    color: inherit
			}
	/* Search Form */
	.search-bar {
	    width: 100%;
	    position: relative;
	    top: 0;
	    right: 0;
	    display: none;
	    padding: 20px 0;
	    margin: 0;
	    background-color: #E7E7E7;
	}
	.search-dropdown-icon {
	    display: block;
	    cursor: pointer;
	    width: 20px;
	    height: 20px;
	    position: absolute;
	    right: 60px;
	    top: 34px;
	    font-family: 'WebSymbolsRegular';
	    font-size: 20px;
	    color: #ededed;
	    text-align: center;
	    line-height: 20px;
	}
	.search-bar form {
	    margin: 0;
	    width: 100%;
	}
		.search-bar form fieldset {
		    padding: 0 18px;
		    left: 0;
		    right: 0;
		    position: relative;
		}
	.search-bar div.field {
	    margin-bottom: 0
	}
	.search-bar form input.text {
	    width: 93%;
	    padding: 8px 7% 8px 0;
	    text-indent: 15px;
	    position: relative;
	    display: block;
	    right: 0;
	    left: 0;
	    border: 1px solid #e5e5e5;
	    background: #fff;
	    font-size: 17px;
	}
	.search-bar form input.action {
	    right: 24px;
	    top: 2px;
	    font-size: 18px;
	}
	/* Main Content */
	.main {
	    padding: 20px 0 45px
	}
	.content-container,
	aside {
	    width: 100%
	}
		.content-container h1 {
		    font-size: 2em;
			 line-height:1.4em;
		    margin-bottom: 15px;
		    padding-bottom: 10px;
		}
		.content-container p {
		    font-size: 1em;
		    line-height: 1.2em;
		}
	p.intro {
	    font-size: 19px;
	    line-height: 27px;
	}
	.main .inner {
	    padding: 0 22px
	}
	/* Secondry Nav */
	.secondary li a {
	    line-height: 24px
	}
	.secondary li .arrow {
	    line-height: 26px
	}
	/* Footer */
	.footer .right {
	    float: left;
	    width: 100%;
	}
}
@media print { 
	* {
	    background: transparent !important;
	    color: black !important;
	    box-shadow: none !important;
	    text-shadow: none !important;
	    filter: none !important;
	    -ms-filter: none !important;
	}
	.header,
	.footer {
	    display: none
	}
	a,
	a:visited {
	    text-decoration: underline
	}
	thead {
	    display: table-header-group
	}
	tr,
	img {
	    page-break-inside: avoid
	}
	img {
	    max-width: 100% !important
	}
}



/*** SBV Branding Kampagne ***/
div.main {
	padding-top:0px !important;
}
div.wrapper .article {
	padding-right:50px;
	padding-left:50px;
	padding-bottom:0px;
}


/** Stripes **/
body div.wrapper {
	max-width:800px;
	margin:auto;
}
div.wrapper .article h1 {
	border-bottom:none;
}
div.wrapper .article h1.middle {
	text-align:middle;
}
div.wrapper a,
div.wrapper a:hover {
	font-weight:bold;	
}
div.wrapper.sbvclear a,
div.wrapper.sbvclear a:hover {
	color:#0b4395;
}
div.wrapper.sbvblue a,
div.wrapper.sbvblue a:hover {
	color:#FEFEFE;
}
/* Blue Stripe */
div.wrapper.sbvblue {
	background:#0b4395;
	color:#EEEEEE;
	width:100%;
}
div.wrapper.sbvblue h1,
div.wrapper.sbvblue h2,
div.wrapper.sbvblue h3 {
	background:#0b4395;
	color:#EEEEEE;
}
/* White Stripe */
div.wrapper.sbvclear,
div.wrapper.sbvclear h1,
div.wrapper.sbvclear h2,
div.wrapper.sbvclear h3 {
	background:#FEFEFE;
	color:#0b4395;
}


/* header finetuning */
body .tablet-nav .header .inner,
body header.header .inner {
	min-height:20px;
	padding-top:0px !important;
}
body .header {
    background: none repeat scroll 0 0 #fefefe;
    color: #111111;
    margin: auto;
}
/*todo*/
.header .inner img {
	height:25px;
}
.header .inner span.language {
    float: right;
    font-weight: bold;
    padding-left: 20px;
    padding-right: 5px;
}
.header .inner span.language a,
.header .inner span.language a:hover {
	color:#0b4395;
}
.tablet-nav .header .inner img {
	height:20px;
	margin-left:10px;
}
div.logo {
    padding-top:20px;
}
/*div*/
body .header div,
body .header .brand {
	color:#0b4395;
}

.header .inner {
    max-width: 800px;
    min-width: 330px;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0px;
    position: relative;
}
DISABLE .tablet-nav .header .inner {
   padding-left: 15px;
   padding-right: 15px;

}
.header .inner div.logo {
	position:relative;
	width:100%;
	padding-bottom:20px;
    padding-left: 50px;
    padding-right: 10px;
}
.tablet-nav .header .inner div.logo {
	padding-left:20px;
    width:90%;
}
.header .inner img {
	position:relative;
}

/* Menü */
.header div.primary ul {
   padding-bottom:50px;
   padding-top:0px;
   padding-left:38px;
}
.tablet-nav .header div.primary ul {
  padding-left:0px;
}
.header .primary .nav-open-button {
height:60px;
color:#0b4395;
position:relative;
}

.header .logo .nav-open-button {
    height: 60px;
    padding-bottom: 30px;
    padding-right: 10px;
    padding-top: 20px;
    position: relative;
}
.header .logo .nav-open-button.invert {
    background: none repeat scroll 0 0 #0b4395;
}
.header .primary ul li a,
.header .primary ul li.current a,
.header .primary ul li.section a {
	background:#FEFEFE;
	color:#0b4395;
	text-shadow:none;
	font-weight:normal;
}
.header .primary ul li a:hover,
.header .primary ul li.current a:hover,
.header .primary ul li.section a:hover {
	color:#0b4395 !important;
	text-decoration:underline;
}

.tablet-nav .header .primary ul li a,
.tablet-nav .header .primary ul li.current a,
.tablet-nav .header .primary ul li.section a {
	background:#0b4395;
	color:#FEFEFE;
	text-shadow:none;
	font-weight:normal;
	text-align:center;
}
.tablet-nav .header .primary ul li a:hover,
.tablet-nav .header .primary ul li.current a:hover,
.tablet-nav .header .primary ul li.section a:hover {
	color:#FEFEFE !important;
	text-decoration:underline;
}

/* HalfBox */
div.halfbox {
	width:49%;
	float:left;
}
.tablet-nav div.halfbox {
width:100%;
}

body .footer {
	background:#0b4395;
}

/**/
.main .wrapper {
    padding-bottom: 80px;
    padding-top: 80px;
    word-wrap: break-word;
}

.main .wrapper,
body div.header {
	max-width:800px;
	min-width:330px;
}

div.middle img {
	margin:auto;
}

.wrapper .article .text.middle {
	text-align:center;
}

nav .wrapper.spacer {
    padding-bottom: 15px;
    padding-top: 15px;
}
/* Text und Titel */
.main .typography h1 {
	font-weight:bold;
}

/* AlltagSlider  Steifen */



div.wrapper .article.Alltag {
    padding-bottom: 5px;
    padding-left: 0px;
    padding-right: 0px;
}
.Alltag .bx-wrapper .bx-prev {
	left: 10px;
	background: url(../thirdparty/bxslider/images/controls.png) no-repeat 0 0px !important;
}

.Alltag .bx-wrapper .bx-next {
	right: 10px;
	background: url(../thirdparty/bxslider/images/controls.png) no-repeat -43px 0px !important;
}
div.wrapper .article.Alltag h1,
div.wrapper .article.Alltag p {
    padding-left: 50px;
    padding-right: 50px;
}

.article.Alltag p {
	height: 8em;
}



/** SBV DEFAULT OVERRIDES */
.node-type-kampagne div.logo {
    background:none;
}
/* header */
.tablet-nav span.goleft {
	background: url("/sites/all/themes/sbvfsa/kampagne/img/left.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
	display: inline-block;
	height: 1.2em;
	width: 1.2em;
    background-size: 1.2em 1.2em;
}
.tablet-nav span.contrast,
.tablet-nav span.highcontrast {
	background: url("/sites/all/themes/sbvfsa/kampagne/img/contrast.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
	display: inline-block;
	height: 1.2em;
	width: 1.2em;
    background-size: 1.2em 1.2em;
}
.tablet-nav span.plus {
	background: url("/sites/all/themes/sbvfsa/kampagne/img/plus.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
	display: inline-block;
	height: 1.2em;
	width: 1.2em;
    background-size: 1.2em 1.2em;
}
.tablet-nav span.minus {
	background: url("/sites/all/themes/sbvfsa/kampagne/img/minus.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
	display: inline-block;
	height: 1.2em;
	width: 1.2em;
    background-size: 1.2em 1.2em;
}
.tablet-nav span.language {
	display: inline-block;
	float:right:
	margin-right:30px;
	padding-left:20px;
}



body span.goleft,
body span.contrast,
body span.highcontrast,
body span.minus,
body span.plus {
	height: 1.4em;
	width: 1.5em;
    background-size: 1.5em 1.4em;
}







.tablet-nav div.access {
  margin-right:0px;
}
div.access {
	width:50%;
    margin-right:90px;
}
span.logo, 
div.logo {
    height:100%;
}
div.access li {
  float:right;
}



/* Accessible Youtube Player */
body div.ytplayerbox {
    border: medium none;
    font-family: Verdana,Geneva,Arial,Helvetica,sans-serif;
    font-size: x-small;
    margin: 0;
	padding:0;
    max-width:100%
}

/* Responsive Youtube */
.video {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; height: 0; overflow: hidden;
}
 
.video iframe,
.video object,
.video embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
