/* Document Image Icons */

/*a[href^="http:"] {
    display:inline-block;
    padding-right:19px;
    background:transparent url(img/icons/extern.gif) center right no-repeat;
}*/
/*a[href^="mailto:"] {
    display:inline-block;
    padding-left:20px;
    line-height:18px;
    background:transparent url(img/MailTo.gif) center left no-repeat;
}*/
/*a[href$='.pdf'] {
    display:inline-block;
    padding-left:20px;
    line-height:18px;
    background:transparent url(../img/icons/pdf.png) center left no-repeat;
}*/
a[href^='#top'], a[href^='#Top'], a[href^='#TOP'] {
    display:inline-block;
    padding-left:20px;
    line-height:18px;
    background:transparent url(../img/icons/top.png) center left no-repeat;
}

/* Font Awesome */


a[href$='.doc']:before, a[href$='.rtf']:before, a[href$='.txt']:before, a[href$='.wps']:before, a[href$='.odt']:before, a[href$='.docx']:before, a[href$='.dot']:before {
    font-family: FontAwesome;
    content: "\f1c2"; <--- this is your text. You can also use UTF-8 character codes as I do here
    left:-5px;
    position:relative;
    top:0;
    margin-right:7px;
}

a[href$='.pdf']:before {
    font-family: FontAwesome;
    content: "\f1c1"; <--- this is your text. You can also use UTF-8 character codes as I do here
    left:-5px;
    position:relative;
    top:0;
    margin-right:7px;
 }
 

a[href$='.mp3']:before, a[href$='.mp3']:before {
    font-family: FontAwesome;
    content: "\f1c7"; <--- this is your text. You can also use UTF-8 character codes as I do here
    left:-5px;
    position:relative;
    top:0;
    margin-right:7px;
 }
 
a[href$='.zip']:before {
    font-family: FontAwesome;
    content: "\f1c6"; <--- this is your text. You can also use UTF-8 character codes as I do here
    left:-5px;
    position:relative;
    top:0;
    margin-right:7px;
 }
 
