/* Sektionen */
/* Accessibility */
.ScreenReader {
  position:absolute;
  left:-10000px;
  top:auto;
  width:1px;
  height:1px;
  overflow:hidden;
}
/*  CI/CD Farben
Schwarz 0D0C00
Weiss FFFFFF
Blau 0c24ac  old:000089
Komplementäre Farben
Gelb FFD100 für Beratung
Orange FF6819 für Kurse
Beige EBD9A7 für Engagement
Grün 3FCC14 (mit schwarzer Schrift) für Spenden 

*/
/*http://getbootstrap.com/customize/?id=23e2c6a17a39f5ac9729*/


/*
Grün: #c8e1be
*/

/* Menu Farben
#000e62  //dunkelblau
#0c24ac
#5273de
#d0dffe
#e9effb  //hellblau

*/
/* BASE FOR EM CONVERSION! http://pxtoem.com/
H1 32px 1.778em
H2 24px 1.333em
H3 18px 1em
H4 24px 1.333em
Body H3 18px 1em
*/

body {
  padding-top: 0px !important;
  padding-bottom: 20px;
  font-size: 18px; /* BASE FOR EM CONVERSION! http://pxtoem.com/*/
  line-height: 1.7;
  background: #ffffff;
  color: #0D0C00; /* Almost Black */
  font-family: 'Lato','sans-serif';
  font-weight: 400;
}

/* Layout */
body {
  min-width:300px;
}

/* Redesign, Design: Terminal 8, Code: monkee.ch*/

/* HEADER Secondary Navigation */
div.secondarynav {
  border-bottom: 1px solid #0D0C00; /* Almost Black */
  margin-bottom:30px;
  color: #0D0C00; /* Almost Black */
  height:2.778em; /* ca 50px;*/
}
div.secondarynav a {
  color: #0D0C00; /* Almost Black */
}
div.secondarynav div.container {
  height:inherit;
}

.secondarynav div.spenden {
    background: #cfdffd none repeat scroll 0 0;
    border-bottom: 1px solid #000;
    border-left: 1px solid #0c24ac;
    border-right: 1px solid #0c24ac;
    float: right;
    font-size: 1.2em;
    height: 100%;
    padding-bottom: 7px;
    padding-top: 7px;
}

div.language {
    height:100%;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
}

div.access {
    height:100%;
    padding-top:10px;
    border-right: 1px solid #000;
    z-index:50;
}
div.access ul.accesstools {
   padding-left:0px;
}

div.search {
    height:inherit;
}
div.search input {
    height:100%;
    border:none;
    margin-top:10px;
}
div.search i {
    background: #000e62 none repeat scroll 0 0;
    color: #fff;
    font-size: 1.3em;
    height: inherit;
    margin-left: 10px;
    padding-left: 13px;
    padding-top: 13px;
    width: 50px;
}
div.region-search {
  float:left;
}
#block-search-form div.form-item-search-block-form {
 margin-top:0px;
 margin-bottom:0px;
}

.node-type-homepage .secondarynav div.contact {
  display:block;
}
.node-type-homepage .secondarynav div.spenden {
  display:n;
}
div.contact {
    height:inherit;
    padding-top:10px;
    /*border-right: 1px solid #000;*/
}
div.contact span {
  float: right;
}


/* Homepage Main Navigation */
#Menu ul.navbar-nav div {
   padding:0px;
}
#Menu ul.navbar-nav li {
  height:70px;
  padding-left:15px;
  padding-top:15px;
  background: #000e62;
  color:#fff;
  border-right: 1px solid #fff;
}


#Menu ul.navbar-nav li a {
  color:#fff;
  font-size:1.25em;
}
#Menu ul.navbar-nav li i {
  margin-right:10px;
  font-size:1.7em;
}

#Menu li a img {
    max-height: 100%;
    padding-bottom:10px;
    padding-right:15px;
}

.node-type-homepage .banner div.tagline {
  display:none;
}
.node-type-homepage .secondarynav div.spenden {
  display:none;
}
.node-type-homepage .secondarynav div.contact {
  display:block;
}

/* Domain Name */
div#sitename {
    color: #0c24ac;
    font-size: 1.5em;
    font-weight: bold;
    margin-left: 70px;
    margin-top: 20px;
    margin-bottom: 20px;
}
a.mainlogo,
a.mainlogo:hover {
    text-decoration: none;
}

/* Homepage BigPicture */
div.container.bigpicture,
div.container.bigpicture img {
width:1400px;  /* Only Desktop */
height:440px;  /* Only Desktop */
padding:0px;
}
/* Logo Banner */
div.banner div.tagline {
    font-weight: bold;
    padding-top: 60px;
    text-align: right;
}


/* Access Tools */
ul.accesstools i {
  font-size:1em;
}





/*
 CONTENT
*/
h1.page-title {
 margin-top:0px;
}
/* Voicenet */
button.btn-success.voicenet {
    background:#c8e1be;
    cursor:none;
    color:#000;
    font-weight:bold;
}


/*Listenpunkte*/
#content ul li {
  list-style:none; /* if you’re not already using a reset */
}
#content ul {
    margin-bottom: 10px;
    padding-left: 0;
}

#content ul li:before {
  color:#0c24ac; /* set color to blue */
  content:"\2022"; /* /2022 is the numerical unicode for &bull; */
  font-size:1.5em; /* set the font-size of the bullet if necessary. Make sure to use em or %*/
  padding-right:.25em; /* give the bullet some padding from the text Make sure to use em*/
  position:relative;
    top:.1em; /* set the vertical position of the bullet if necessary. Make sure to use em or % */
}


/* Main Navigation */
/* #000e62;  /* 1 */
/* #0c24ac;  /* 2 */
/* #5273de;  /* 3 */
/* #d0dffe;  /* 4 */
/* #e9effb;  /* 5 */
div.main-navigation {
    margin-top: 25px;
}
div.block-menu ul.menu li {
    list-style-type:none;
    list-style-image:none;
    margin-left:0px;
    padding-left:10px;
    padding-right:0px;
    border-bottom:1px solid #fff;
}
div.block-menu ul.menu li a {
    color: #fff;
}
/*div.block-menu ul.menu li {
    list-style-image: url('/sites/all/themes/monkeeterminal8/icons/pfeil_right.png');    
}
div.block-menu ul.menu li li li {
    list-style-image: url('/sites/all/themes/monkeeterminal8/icons/pfeil_right_black.png');    
}*/
li a.active {
  font-weight:bold;
}
  /* colors */
  /*level 1*/
div.block-menu ul.menu {
    background: #0c24ac; /* 2 */
    padding-left:0px;
}
  /*level 1 active trail */
li.expanded.active-trail  {
  background: #000e62;  /* 1 */
}
  /*level 2 active trail */
div.block-menu ul.menu li ul li.expanded.active-trail {
  background: #5273de;  /* 3 */
}
  /*level 3 active trail */
div.block-menu ul.menu li ul li ul li.expanded.active-trail {
  background: #d0dffe;  /* 4 */
}

  /*Level 2*/
div.block-menu ul.menu li ul {
  background: #5273de;  /* 3 */
}

  /*Level 3*/
div.block-menu ul.menu li ul li ul {
  background: #d0dffe;  /* 4 */
}
div.block-menu ul.menu li ul li ul li a {
  color: #000;
}
  /*Level 4*/
div.block-menu ul.menu li ul li ul li ul {
  background: #e9effb;  /* 5 */
}
div.block-menu ul.menu li ul li ul li ul li a {
  color: #000;
}




/* Standard Page Main Menu */

div.block-menu ul.menu li a:after {
    content: "\f0da"; /* Caret right */
    font-family: FontAwesome;
    float:right;
    padding-right:10px;
}
div.block-menu ul.menu li.leaf a:after {
    content: "";
}

div.block-menu ul.menu li.expanded a:after {
   font-family: FontAwesome;
   content: "\f0d7";  /* Caret Down */
   float:right;
   padding-right:10px;
}
div.block-menu ul.menu li.expanded li a:after {
    content:"";
}
div.block-menu ul.menu li.expanded li a:before {
    font-family: FontAwesome;
    content:"\f105";  /* angle-right */
    list-style:none;
    padding-right:10px;
}
div.block-menu ul.menu ul ul {
    margin-left:-10px;
    padding-left:10px;
}
div.block-menu ul.menu ul ul ul {
    margin-left:-20px;
    padding-left:20px;

}
div.block-menu ul.menu ul ul li {
 padding-left:10px;
}
div.block-menu ul.menu li.last {
    border-bottom:0px;
}
div.block-menu ul.menu ul li.first {
    border-top:1px solid #ffffff;
}







/* Header */
/****************************/
.breadcrumb > .active {
  color:#000;
}

div.toplogo {
    margin-left:0px;
}
#breadcrumb {
  padding-top:30px;c8e1be
  padding-bottom:0px;
  margin-bottom:30px;
}
div.brotkrumen {
  border-bottom:1px solid black;
}




/* Footer */
/****************************/
footer {
  background:#eeeeee;
  color:#000;
  padding-top:5px;
  margin-top:0px;
  margin-bottom:0px;
  padding-bottom:50px;
  border-top: #597eaa solid 1px;
  border-bottom: #597eaa solid 1px;
  font-size: 1.1em;
}

footer .header {
  color:#000;
  margin-bottom:6px;
  padding-bottom:10px;
  border-bottom:1px solid #000000;
}

footer .content h3 {
  font-size:1.1em;
  color:#000;
}

footer a {
  color:#000;
}
footer li a:hover {
  color:#000000;
  text-decoration:underline;
}

footer li {
  list-style-type: none;
}
footer ul {
  padding-left:0px;
}

footer div.address {
 margin-top:20px;
 padding-left:0px;
 padding-top:7px;
 /*border-top:1px solid #000000;*/
}


span.badge {
  font-size:1em;
  border-radius:2px;
}




/* Produkte */
div.produkt-list div.produkt {
  border-bottom: 1px solid #000;

}
div.produkt-list div.produkt img {
  padding-top:20px;
  padding-bottom:20px;
}

div.pagination {
  padding-top:10px;
}





/* Veranstaltung */
.veranstaltung-list img.main {
  margin-bottom:25px;
  margin-top:15px;
}




.field-name-field-bild img {
  margin-bottom:25px;
  margin-top:15px;
}
.field-name-field-untertitel {
  font-weight:bold;
}

.field-name-field-kategorie-veranstaltung h3,
.field-name-field-kategorie-veranstaltung ul,
.field-name-field-dauer h3,
.field-name-field-dauer ul {
  display:inline;
  float:left;
  color:black;
}

field-name-field-dauer



/*-->*/






/* OLD OLD OLD */


/* a */
.content span a {
    color:#000068;
}
.content span.fieldset-legend a,
.content span.field-content a {
    color: #0c24ac;
}

a button.btn-default {
  font-weight:bold;
  color: #0c24ac;
  border: 1px solid #0c24ac;
  border-radius:0px;
}

/* Tools */

div.region-tagline-tools {produkt
  float:left;
  margin-top:10px;
}

div.access {
  float:left;
}
div.accesstools {
  background: #ffffff none repeat scroll 0 0;
  padding-left:20px;
}
.accesstools ul {c8e1be
  float:left;
}
.accesstools i {
 font-size:2em;
}
.accesstools li {
  display:inline;
  padding-right:10px;
}














/* Header 2 */
div.header2 {
  margin-bottom: 15px;
  margin-top: 0px;
}
.header2 div.tagline {
  color:#0c24ac;
  padding-left:0px;
  width:100%;
}
.header2 div.tagline div.content {
  padding-top:20px; /* was 40 */
}


/* Sprache */
#block-locale-language li {
  list-decoration:none;
  display:inline;
}
#language-interface {
  padding-left:0px;
}

div.tools {
  margin-top:0px;
  padding-left:0px;
}



/* no Sidebars */
body.no-sidebars #content {
  width:100%;
}
h1.title {
  font-family: 'Lato','sans-serif';
  font-weight: 700;
  color: #0c24ac;
}


/* Header terminal8 */
h1,h2,h3 {
  font-family: 'Lato','sans-serif';
  font-weight: 700;
  color: #0c24ac;
}
h4,h5 {
  font-family: 'Lato','sans-serif';
  font-weight: 400;
  color: #000;
}
body h1 {
  font-size: 1.778em;    
}
body h2 {
  font-size: 1.333em;
}
body h3 {
  font-size: 1.15em;
}
body h4 {
  font-size: 1em;
}


.news-list h1,
.content h1 {
  font-size:1.778em;
}
.news-list h2,
.content h2 {
  font-size:1.333em;
}
.news-list h3,
.content h3 {
  font-size:1.15em;
}
.news-list h4,
.content h4 {
  font-size:1em;
}

div.news.highlight {
  border:1px solid #0c24ac;
  background: #eeeeee;
  margin-left:15px;
  margin-bottom:25px;
  margin-top:20px;
}
div.news.highlight div.highlightbatch {
    background: #000e62 none repeat scroll 0 0;
    border: 1px solid #0c24ac;
    color: white;
    left: 0;
    padding: 10px;
    margin-left:-15px;
    float:left;
    clear:both;
}
div.clear {
  clear:both;
}


button.btn-default {
  border-color:#000;
}

/* Felder, Beschriftungen */
.field h1,
.field h2,
.field h3,
.field h4,
.field h5,
.field h6 {
  margin-bottom: 0;
  margin-top: 3px;
}
.field ol,
.field ul {
  margin-bottom: 0;
}

#content .content h1,
#content .content h2,
#content .content h3,
#content .content h4 {
  padding-bottom:15px;
}
/* Typography Style Classes */
.fett {
  font-weight:bold;
}

/* MenuButtons Homepage */
div.MenuButtons {
  padding-bottom: 0px;
  padding-left: 25px;
  padding-right: 25px;
}
.MenuButtons div.MenuButton .panel {
  height:4.7em;
  min-widht:327px;
  color:#0D0C00;
}
.MenuButtons div.MenuButton span.glyphicon,
.MenuButtons div.MenuButton i.fa {
  color:#0D0C00;
  margin-right:15px;
}
.MenuButtons div.MenuButton span.glyphicon:hover,
.MenuButtons div.MenuButton i.fa:hover {
  color:#0c24ac;
}
.MenuButtons div.MenuButton h2 {
  color:#0D0C00;
  font-size:2em;
  margin-top: 20px;
}
#Menu.TWS div.MenuButton h2 {
  font-size:1.5em;
}

.MenuButtons div.MenuButton h2:hover {
  color:#0c24ac;
}
div.MenuButton {
  padding-left:5px;
  padding-right:5px;
}



.MenuButtons div.MenuButton .panel.link1 {
  background:#f1c232;
}
.MenuButtons div.MenuButton .panel.link2 {
  background:#ecac6a; 
}
.MenuButtons div.MenuButton .panel.link3 {
  background:#c8e1be;
}
.MenuButtons div.MenuButton .panel.link1:hover,
.MenuButtons div.MenuButton .panel.link2:hover,
.MenuButtons div.MenuButton .panel.link3:hover {
  background:#ccc;
}



/* Highlight */
.highlight div.article {
  padding:50px;
  background:#ffffff;
  border-color: #0D0C00;
  border-style: solid;
  border-width: 2px 2px 2px 2px;

}
.highlight div.article h1 {
  margin-top:5px;
}

.highlight span.teaser {
  font-weight:bold;
}

.highlight .date {
  font-size:0.9em;
}

.highlight .thumbnail {
  margin-right:20px;
}
.highlight img {
  width:100%;
  margin-top:10px;
}
.highlight .article img {
  padding-right:17px;
}

.highlight a.btn {
    float: left;
    font-weight: bold;
    margin-bottom: 20px;
    margin-left: -15px;
    margin-top: 20px;
}

.highlight .badge {
    background: #0c24ac none repeat scroc8e1bell 0 0;
    border-radius: 0;
    left: -50px;
    padding: 7px 20px;
    position: relative;
    top: -40px;
}


/* News */
div.news-list {
  margin-top: 0px;
  margin-bottom: 20px;
}
div.news-list.category {
  margin-left: -15px;
}
div.news-list .header {
    color: #0c24ac;
    font-size: 1.5em;
    margin-bottom: 10px;
    margin-top: 30px;
}
div.news-list .news .title {
  font-size:1.3em;
  display:inline;
}
div.news-list .news .date {
}
div.news-list .header button {
  margin-left:20px;
}
div.news-list div.row div.news {
  margin-top:15px;
}
000e62
div.news img {
  margin-bottom:25px;
}

div.assets {
  margin-top:30px; /* was 50 */
  margin-bottom:10px; /* was 50 */
}
div.assets ul {
  margin-top:15px; /* was 25 */
  margin-bottom:25px;
}



/*http://wwwtest.sbv-fsa.ch/de/homepage-news*/

.views-field views-field-field-kategorie {
  display:block;
}



/* Donate */
.call-to-actions {
    float: right;
    margin-top:30px;
}
div.call-to-actions div.donate {
  background:#fff;
  border: 1px solid #0c24ac;
  color:#0c24ac;
  padding:10px;
  font-size:1em;
}
.donate .btn {
  background:#b6d6f2;
  border-color:#b6d6f2;
  font-size:1.2em;
  color:#0D0C00;
}
.donate .btn:hover {
  background:#CCC;
}
div.call-to-actions div.newsletter {
  padding:10px;
  border: 1px solid black;
  margin-top:30px;
}


/* Events */
div.events {
  margin-top:30px;
}
.events .header {
  border-left:20px solid #a40a0a;
  padding-left:10px;
  background:#ffffff;
}

.events .btn {
  margin-top:20px;
}


/* VoiceNet */
div.field-name-field-info-voicenet {
  background: #c8e1be;
  padding-left:10px;
  color:#000;
}


div.intern {
  margin-top:0px; /* was 50px */
  background: #cfdffd;
}
div.intern .col a {
  padding-right:20px;
  color:#000;
}
#Login h3 {
  color:#000e62;
}

div.thirdnav {
  height:100%;
}
div.thirdnav span.links {
    float: right;
    margin-right: 0px;
    padding-top: 210px;
}

/* Logos */

#Login span.logos {
    margin-top:30px;
    width:100%;
}
#Login span.logos img {
    width:50px;
    height:50px;
    float:right;
    margin-top:30px;
    margin-left:30px;
}


div.logos img {
    float: right;
    height: 50px;
    margin-left: 20px;
    margin-top: 20px;
}
div.logos a:not(:first-child) {
  margin-left:10px;
}


/* User Menues */
.usermenu {
  background:lightgrey;
  margin-top:0px;
  /*margin-bottom:50px;*/
}

#block-languageinterface-0 li {
  display:inline;
  list-style: none;
  padding-right:15px;
}
#block-languageinterface-0 li.en {
  display:none;lang
}

#search-block-form #edit-submit {
  display:none;
}

/*********************/
/* Responsive Fixes */
img {  
  page-break-inside: avoid;  
}  
img {  
  max-width: 100% !important;  
}  



/* Responisve */
img {
  max-width:100%;
}






/* Liste der Kurse */
div.customsearchform {
    background: #ddd;
    border: 1px solid black;
    color: #000;
}
div.customsearchform p,
div.customsearchform form {
    padding-left:30px;
    color: #0c24ac;
}
div.customsearchform form {
    margin-bottom:30px;
}
div.customsearchform input {
     height: 30px;   
}
div.customsearchform i {
    background: #000e62 none repeat scroll 0 0;
    color: #fff;
    font-size: 1.3em;
    height: 30px;
    padding: 3px 3px 3px 5px;
    width: 30px;
}
/* Drupal */

#toolbar {
  /* Admins need 2 Browsers! ;-)*/
  /*position:relative !important;*/
}



/* ReadSpeaker */
span.readspeakerbutton {
  padding-bottom:30px;
}
span.readspeakerbutton.de {
    background: rgba(0, 0, 0, 0) url("/sites/all/themes/monkeeterminal8/img/listen_de_de.gif") no-repeat scroll 0 0;
    display: block;
    height: 16px;
    width: 90px;
}
span.readspeakerbutton.fr {
    background: rgba(0, 0, 0, 0) url("/sites/all/themes/monkeeterminal8/img/listen_fr_fr.gif") no-repeat scroll 0 0;
    display: block;
    height: 16px;
    width: 90px;
}

#readspeaker_button1 a:focus span {
    border: 4px dotted #0000aa;
    border-radius: 2px;
}


/* Admin */
#toolbar { 
   position: relative !important;   
}
/* Hidden */

#block-locale-language .language-switcher-locale-url li.en {
  display:none;
}

.messages.error {
  display:none;
}

#search-block-form #edit-actions--2 {
  display:none;
}

ul.inline li.translation_fr,
ul.inline li.translation_de {
    display:none;
}

.domain-interessenvertretung-www-sbv-fsa-ch footer {
  display:none;
}


div.call-to-actions div.newsletter {
}
