body {
    background: none repeat scroll 0 0 #000000;
    color: #FFFFFF !important;
    background-color:#000000 !important;
}
#page, #main-wrapper, #main-menu-links li a.active, #main-menu-links li.active-trail a {
    background: none repeat scroll 0 0 #000000;
}
.node-type-homepage #main {
    width: 935px;
}
a {
    color: #FFFFFF;
}
a:link, a:visited {
    text-decoration:underline !important;
}
a.ext {
    background: url("../img/link_extern_neg.png") no-repeat scroll right center transparent;
}
div.accesstools {
    background: #000 none repeat scroll 0 0;

}
.breadcrumb,
.breadcrumb span a,
.breadcrumb > .active {
    color: #FFF;
    background:#000;
}

h1.title {
  color:#fff;
}
ul.menu a,
ul.menu a:hover,
ul.menu a.active {
    color: #fff;
}

div.menu-name-main-menu ul.menu {
   background:#000;
}
div.menu-name-main-menu ul.menu li ul li ul li a {
   color:#fff;
}

div.customsearchform {
    background: #000 none repeat scroll 0 0;
    border: 1px solid #fff;
}
div.customsearchform p, div.customsearchform form {
    color: #fff;
}
#edit-search-block-form--2 {
    background: #000 none repeat scroll 0 0;
    border: 1px solid #fff;
    color: #fff;
}
div.search i {
    background: #000 none repeat scroll 0 0;
    color: #fff;
}
div.customsearchform i {
    background: #000 none repeat scroll 0 0;
    color: #fff;
}

.tabs.primary li a,
.tabs.primary li a.active {
  color:#fff;
  background:#000;
}

.header2 div.tagline {
    color: #fff;
}


span.logo {
    background:url(/sites/all/modules/themes/monkeeterminal8/img/logo_deutsch_neg.png) no-repeat;
}
span.logo.de {
    background:url(/sites/all/modules/themes/monkeeterminal8/img/logo_deutsch_neg.png) no-repeat;
}
span.logo.fr {
    background:url(/sites/all/modules/themes/monkeeterminal8/img/logo_fr_neg.png) no-repeat;
}
span.logo.it {
    /*background:url(/sites/all/modules/themes/monkeeterminal8/img/logo_it_neg.png) no-repeat;*/
}

/* access */
span.plus {
    width:37px;
    height:34px;
    background:url(/sites/all/modules/themes/monkeeterminal8/img/plus_neg.png) no-repeat;
    display:inline-block;
}
span.minus {
    width:37px;
    height:34px;
    background:url(/sites/all/modules/themes/monkeeterminal8/img/minus_neg.png) no-repeat;
    display:inline-block;
}
span.contrast,
span.highcontrast {
    width:37px;
    height:34px;
    background:url(/sites/all/modules/themes/monkeeterminal8/img/contrast_neg.png) no-repeat;
    display:inline-block;
}
span.goleft {
    background:url(/sites/all/modules/themes/monkeeterminal8/img/left_neg.png) no-repeat;
}
Invertierte Logos austauschen

.region-header, .region-header a, .region-header li a.active, #name-and-slogan, #name-and-slogan a, #secondary-menu-links li a {
    color: #FFF;
}

#topnav li, #accessnav li {
    border-left: 1px solid #FFFFFF;
}
#topnav a, #accessnav a {
    text-decoration: underline;
}
#topnav li.noborder, #accessnav li.noborder {
    border-left: 1px solid #000000;
}
#footer {
    color: #FFFFFF;
}
footer li a:hover {
  color:#fff;
  font-weight:bold;
  text-decoration:underline;
}
.searchfield {
    background: none repeat scroll 0 0 #000000;
    border: 1px solid #FFFFFF;
    color: #FFFFFF;
}
.home {
    background: none repeat scroll 0 0 #000;
    padding: 3px 2px 2px 3px;
}
.home .box {
    background-color: #000000;
    color: #FFFFFF;
    height: 10.8em;
    margin: 0px;
    width: 293px;
    border: 6px solid white;
}
.home .box:hover {
    background-image: url("../img/next_neg.png");
    background-position: right top;
    background-repeat: no-repeat;
}
.home .box.neg:hover {
    background-image: url("../img/next_neg.png");
}
.home .box.pos {
    color: #FFFFFF;
}
.home .box.neg {
    color: #FFFFFF;
}
#nav {
    width: 300px;
}
div.menu-level-1 li a.active-trail {
    color: #fff !important;
}
div.menu-level-1 li a:hover {
    font-weight:bold;
}
 
div#sidebarboxtop,
#nav .box {
    background: none repeat scroll 0 0 #000000 !important;
    border-color: #FFFFFF !important;
    border-left: 3px solid #FFFFFF !important;
    border-top: 3px solid #FFFFFF !important;
    color:#ffffff;
}
div.menu-level-1 li a {
    color:#ffffff;
}
.sidebar .block {
    background-color: #000;
    border-color: #F9F9F9;
}

.home .box:hover {
    background-image: url("../img/next_neg.png");
}
.home .box {
    color: #FFFFFF;
}

.box li {
    background: url("../img/nav_li.png") no-repeat scroll 0 2px transparent;
    color: #FFFFFF;
}

.box.neg a {
    color: #FFFFFF;
    text-decoration: none;
}
.nav2 a {
    color: #FFFFFF;
}
.div.menu-level-1 li a:hover,
.nav2 a:hover {
    background: none repeat scroll 0 0 #333333 !important;
    color:#fff;
}
.box.pos a {
    color: #fff;
    text-decoration: none;
}
.box li.on {
    background: url("../img/nav_li_on.png") no-repeat scroll 0 2px transparent;
}
.box li.on {
    background: url("../img/nav_li_on.png") no-repeat scroll 0 2px transparent;
}
.box li:hover {
    background: url("../img/nav_li_hover.png") no-repeat scroll 0 2px transparent;
}
#content .box h2 {
    background:#000;
}
#content h1 {
    color:#fff;
}
#content h2,
#content h3, 
#content h4 {
}
h1, h2, h3 {
    color: #fff;
}
.selected {
    color: #888888 !important;
}

li a.active {
    color: #ffffff;
}
a:hover, a:focus {
    color:#ddd;
}
div.content div.menu-level-2 ul.menu li {
    background: url("../img/nav_neg.png") no-repeat scroll 0 7px transparent;
}
div.content div.menu-level-2 ul.menu li.active-trail {
    background: url("../img/nav_neg_on.png") no-repeat scroll 0 7px transparent;
}
div.content div.menu-level-2 ul.menu li:hover {
    background: url("../img/nav_neg_on.png") no-repeat scroll 0 7px transparent;
}

#footer-wrapper a {
    color: #ffffff;
    text-decoration:underline;
}

/* Sektionen Ateliers Beratungsstellen*/
.sektion .block-menu h2 {
    background: url("../img/sbv_icon_sektion_neg.png") no-repeat scroll 0 0 transparent !important;
    border-color: #ffffff;
    color: #ffffff;
}
.atelier .block-menu h2 {
    background: url("../img/sbv_icon_atelier_neg.png") no-repeat scroll 0 0 !important;
    border-color: #ffffff;
    color: #ffffff;
}
.beratung .block-menu h2 {
    background: url("../img/sbv_icon_beratung_neg.png") no-repeat scroll 0 0 !important;
    border-color: #ffffff;
    color: #ffffff;
}

/* Ateliers, Beratung, Sektionen
----------------------------*/

div.leftheader {
    border-top:2px solid #fff;
    border-left:2px solid #fff;
    background:#000;
}
.sidebar div.leftheader h2 {
    color:#FFFFFF;
}

.atelier div.leftheader div.leftheaderimg {
    background:url(/sites/all/modules/themes/monkeeterminal8/img/sbv_icon_atelier.png) no-repeat;
}
.sektion div.leftheader div.leftheaderimg {
    background:url(/sites/all/modules/themes/monkeeterminal8/img/sbv_icon_sektion.png) no-repeat;
}
.beratung div.leftheader div.leftheaderimg {
    background:url(/sites/all/modules/themes/monkeeterminal8/img/sbv_icon_beratung.png) no-repeat;
}

#block-user-login {
    color:#ffffff;
}
#Login h3 {
    color: #fff;
}

#Menu ul.navbar-nav li {
  color:#fff;
  background:#000;
  border: 1px solid #fff;
}
li.expanded.active-trail {
    background: #000 none repeat scroll 0 0;
}
div.menu-name-main-menu ul.menu li ul {
    background: #000 none repeat scroll 0 0;
}
div.menu-name-main-menu ul.menu li ul li.expanded.active-trail {
    background: #000 !important;
    color:#fff !important;
}
div.menu-name-main-menu ul.menu li ul li ul {
    background: #000 !important;
    color:#fff !important;
}
div.menu-name-main-menu ul.menu li li li {
    color: #fff;
    list-style-image: url("/sites/all/themes/monkeeterminal8/icons/pfeil_right.png");
}
div.menu-name-main-menu ul.menu li ul li ul li ul li a {
    color: #fff;
}


.secondarynav div.spenden {
    background: #000 none repeat scroll 0 0;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    color:#fff;
}
div.secondarynav a {
    color: #fff;
}

div.call-to-actions div.donate {
    background: #000 none repeat scroll 0 0;
}


div.news.highlight {
    background: #000 none repeat scroll 0 0;
    border: 1px solid #fff;
}
div.news.highlight div.highlightbatch {
    background: #000 none repeat scroll 0 0;
    border: 1px solid #fff;
    color: white;
}

/* ReadSpeaker */
span.readspeakerbutton.de {
	height:16px;
	width:90px;
	background:url(/sites/all/themes/monkeeterminal8/img/listen_de_de_white.gif) no-repeat;
	display:block;
}
span.readspeakerbutton.fr {
	height:16px;
	width:90px;
	background:url(/sites/all/themes/monkeeterminal8/img/listen_fr_fr_white.gif) no-repeat;
	display:block;
}

#triptych h2 {
	color:#FFFFFF !important;
}



/* Forms */
fieldset {
  background: #000;
  border: 1px solid #fff;
  margin-top: 10px;
  margin-bottom: 32px;
Invertierte Logos austauschen

  padding: 0 0 10px;
  position: relative;
  top: 12px; /* Offsets the negative margin of legends */
  -khtml-border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  color:#fff;
}
fieldset legend {
  background: #000;
  border: 1px solid #FFF;
  color: #FFF;
  display: block;
  height: 2em;
  left: -1px; /* LTR */
  font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, sans-serif;
  line-height: 2;
  padding: 0;
  position: absolute;
  text-indent: 10px;
  text-shadow: 0 1px 0 #333;
  top: -12px;
  width: 100%;
  -khtml-border-radius-topleft: 4px;
  -moz-border-radius-topleft: 4px;
  -webkit-border-top-left-radius: 4px;
  border-top-left-radius: 4px;
  -khtml-border-radius-topright: 4px;
  -moz-border-radius-topright: 4px;
  -webkit-border-top-right-radius: 4px;
  border-top-right-radius: 4px;
}
fieldset.collapsed legend {
  -khtml-border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
fieldset legend a {
  color: #FFF;
}
fieldset legend a:hover,
fieldset legend a:focus,
fieldset legend a:active {
  color: #FFF;
}
input.form-text,
textarea.form-textarea,
select.form-select {
  border: 1px solid #FFF;
  background:#000;
  color:#fff;
}
input.form-submit,
a.button {
  /*background: #fff url(../images/buttons.png) 0 0 repeat-x;*/
  border: 1px solid #fff;
  border-bottom: 1px solid #fff;
  border-left-color: #fff;
  border-right-color: #fff;
  color: #fff;
  background:#000;
}



/* Tastaturfokus */
div.menu-level-1 li a.active-trail a:focus,
#content a.ext:focus,
a:focus {
	background: #FFF !important;   
	color: #000 !important;
}
a:focus {
    background:transparent;
}
#content .field-name-body a:focus {
	background: #FFF;   
	color: #000;
}
div.menu-level-1 li a.active-trail:focus {
    color: #000 !important;
}
div.access li a:focus span {
    border:#FFF 3px dotted;
    border-radius:10px;
}
#readspeaker_button1 a:focus span {
    border:#FFF 4px dotted;
}




/** SBV Kampagne 2014 */
.main,
div.wrapper.sbvblue,
div.wrapper.sbvclear,
body .header,
.header .primary ul li a,
.header .primary ul li.current a,
.header .primary ul li.section a,
div.wrapper.sbvblue h1,
div.wrapper.sbvblue h2,
div.wrapper.sbvblue h3,
div.wrapper.sbvblue a, 
div.wrapper.sbvclear h1,
div.wrapper.sbvclear h2,
div.wrapper.sbvclear h3,
div.wrapper.sbvclear a {
  	background:#000000 !important;
	color:#ffffff !important;
}
div.wrapper.sbvclear a, 
div.wrapper.sbvclear a:hover,
div.wrapper.sbvblue a, 
div.wrapper.sbvblue a:hover {
	text-decoration:underline !important;
}


/* New Style 2015 */
div.toplogo {
    background: rgba(0, 0, 0, 0) url("/sites/all/themes/monkeeterminal8/front/img/sbv_logo_inv.png") no-repeat scroll 0 0;
    height: 100px;
    width: 500px;
}
.fr div.toplogo {
    background: rgba(0, 0, 0, 0) url("/sites/all/themes/monkeeterminal8/front/img/fsa_logo_inv.png") no-repeat scroll 0 0;
    height: 100px;
    width: 500px;
}
div.toplogo img {
  display:none;
}

div.contact span {
   color:#fff;
}

div.accesstools {
    background: #000 none repeat scroll 0 0;
    min-height: 90px;
    color:#fff;
}

.MenuButtons div.MenuButton {
	border:1px solid #fff;
}
.MenuButtons div.MenuButton span.glyphicon,
.MenuButtons div.MenuButton i.fa {
  color:#fff;
}
.MenuButtons div.MenuButton h2 {
  color:#fff;
}

.MenuButtons div.MenuButton .panel.link1 {
  background:#000; // Orange Beratung
}
.MenuButtons div.MenuButton .panel.link2 {
  background:#000; // Rot Kurse
}
.MenuButtons div.MenuButton .panel.link3 {
  background:#000; // Grün Engagement
}


.highlight div.article {
    background: #000 none repeat scroll 0 0;
    border-color: #fff;
    border-style: solid;
    border-width: 2px;
    padding: 50px;
    color:#fff;
}
.highlight .badge {
    background: #000 none repeat scroll 0 0;
    color:#fff;
    border: solid 1px #fff;
    border-radius: 0;
    left: -50px;
    padding: 7px 20px;
    position: relative;
    top: -40px;
}

.btn-default {
    background-color: #000;
    border-color: #fff;
    color: #fff;
}


footer {
    background: #000 none repeat scroll 0 0;
    border-bottom: 5px solid #fff;
    border-top: 5px solid #fff;
    color: #fff;
    font-size: 1.2em;
    margin-bottom: 50px;
    margin-top: 70px;
    padding-bottom: 50px;
    padding-top: 30px;
}

footer h3,
footer a {
    color: #fff;
}
footer .content h3 {
    color: #fff;
}

footer li a {
    color: #fff;
}
div.intern .col a {
    color: #fff;
}

div.intern {
    background: #000 none repeat scroll 0 0;
    border-top: none;
    margin-top: 50px;
}

.usermenu {
    background: #000 none repeat scroll 0 0;
    margin-top: 50px;
}

#content ul li::before {
  color:#fff;
}

a[href^="#top"], a[href^="#Top"], a[href^="#TOP"] {
    background: transparent url("../img/top_neg.png") no-repeat scroll left center;
}
