

/* ---------- Color Module Styles ----------- */

body,
body.overlay {
  color: #000;
}
.comment .comment-arrow {
  border-color: #ffffff;
}
#page,
#main-wrapper,
#main-menu-links li a.active,
#main-menu-links li.active-trail a {
  background: #ffffff;
}
.tabs ul.primary li a.active {
  background-color: #ffffff;
}
.tabs ul.primary li.active a {
  background-color: #ffffff;
  border-bottom: 1px solid #ffffff;
}
#header {
 /* background-color: #48a9e4;
  background-image: -moz-linear-gradient(top, #0779bf 0%, #48a9e4 100%);
  background-image: -ms-linear-gradient(top, #0779bf 0%, #48a9e4 100%);
  background-image: -o-linear-gradient(top, #0779bf 0%, #48a9e4 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #0779bf), color-stop(1, #48a9e4));
  background-image: -webkit-linear-gradient(top, #0779bf 0%, #48a9e4 100%);
  background-image: linear-gradient(top, #0779bf 0%, #48a9e4 100%);*/
}
a {
  color: #0071B3;
}
a:hover {
  color: #0000AA;
}
a:active {
  color: #23aeff;
}
.sidebar .block {
  border-color: #f9f9f9;
}
#page-wrapper,
#footer-wrapper {
  /*background: #292929;*/
}

#block-block-8 {
    padding-left:11px;	
}
.region-header,
.region-header a,
.region-header li a.active,
#name-and-slogan,
#name-and-slogan a,
#secondary-menu-links li a {
  color: #1100B3;
}
.region-header a:focus,
.region-header li a.active:focus,
#secondary-menu-links li a:focus  {
    color:#fff;
    background:#0000AA;
}
/* Monkee */
#gridmenu li { /* OOOOLD*/
    width: 200px;
    min-height: 150px;
    border: 1px solid #000;
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: top;
    /*margin: 5px;*/
    zoom: 1;
    *display: inline;
    _height: 150px;
    border:none;
}
.gridmenu li {
    list-style-type:none;
}
/* SBV Styles */
span.logo,
div.logo {
    height:70px;
    width:340px;
    background:url(/sites/all/modules/themes/sbvfsa/img/logo_deutsch.png) no-repeat;
    display:block;
}
span.logo.de,
div.logo.de {
    background:url(/sites/all/modules/themes/sbvfsa/img/logo_deutsch.png) no-repeat;
}
span.logo.fr,
div.logo.fr {
    background:url(/sites/all/modules/themes/sbvfsa/img/logo_fr.png) no-repeat;
}
span.logo.it,
div.logo.it {
    background:url(/sites/all/modules/themes/sbvfsa/img/logo_it.png) no-repeat;
}

/* access */
span.plus {
    width:37px;
    height:34px;
    background:url(/sites/all/modules/themes/sbvfsa/img/plus.png) no-repeat;
    display:inline-block;
}
span.minus {
    width:37px;
    height:34px;
    background:url(/sites/all/modules/themes/sbvfsa/img/minus.png) no-repeat;
    display:inline-block;
}
span.contrast,
span.highcontrast {
    width:37px;
    height:34px;
    background:url(/sites/all/modules/themes/sbvfsa/img/contrast.png) no-repeat;
    display:inline-block;
}

span.goleft {
    width:37px;
    height:34px;
    background:url(/sites/all/modules/themes/sbvfsa/img/left.png) no-repeat;
    display:inline-block;
}

a {
    color: #0000AA;
    
    text-decoration: underline;
}
.home li p {
    cursor: pointer;
}
a.ext {
    background: url("../img/link_extern.png") no-repeat scroll right center transparent;
    padding-right: 18px;
}
span a {
	color:#ffffff;
}
span.file a {
	color:#0000AA;
}
span a.mailto {
	color:#0000AA;
}
.breadcrumb span a {
	color:#0000AA;
}
.breadcrumb span a:focus {
	color:#FFF;
}
span.fieldset-legend a {
	color:#000000;
}
img {
    border: 0 none;
}
ul {
    margin: 0;
    padding: 0;
}
#topnav, #accessnav {
    height: 40px;
    list-style: none outside none;
    text-align: right;
}
#accessnav {
    position:relative;
    top:100px;
    left:410px;
}
#topnav li, #accessnav li {
    border-left: 1px solid #9999FF;
    display: inline;
    padding: 0 10px;
}
#topnav a, #accessnav a {
    text-decoration: none;
}
#topnav a:hover {
    text-decoration: underline;
}
#topnav li.noborder, #accessnav li.noborder {
    border-left: 1px solid #FFFFFF;
}
.searchfield {
    background: none repeat scroll 0 0 #0000AA;
    border: 1px solid #0000AA;
    color: #FFFFFF;
    margin-right: 10px;
    padding: 3px;
}
a.on {
    font-weight: bold;
    text-decoration: underline !important;
}
.title {
    font-size: 16px;
    font-weight: bold;
    padding: 10px 0 10px 15px;
}
.home .box {
    background: none repeat scroll 0 0 #FFFFFF;
    float: left;
    height: 10.8em;
    overflow: visible;
    text-decoration: none;
    width: 300px;
}
#content .home .box p {
    padding-right:0px;
}
.home .box:hover {
    background-image: url("../img/next.png");
    background-position: right top;
    background-repeat: no-repeat;
}
.home .box.neg:hover {
    background-image: url("../img/next_neg.png");
    background-position: right top;
    background-repeat: no-repeat;
}

.home .box.pos {
    color: #0000AA;
}

.home p img {
    float:right;
    width:4.5em;
    height:4.5em;
}
.home p img.a4a {
    float:right;
    width:auto;
    height:auto;
    margin-top:15px;
}
.box h2 {
    font-size: 16px;
    margin: 15px 15px 0;
}
.node-homepage .box h2,
.node-type-homepage .box h2 {
    height: 1.3em;
}
.box p {
    margin: 10px 15px 15px;
}
.box.sehbehinderung {
    background: none repeat scroll 0 0 #CCFFCC;
    border-color: #CCFFCC;
    color: #FFFFFF;
}

.box.dienste {
    background: none repeat scroll 0 0 #FFFF99;
    border-color: #FFFF99;
    color: #000000;
}


.box.verband {
    background: none repeat scroll 0 0 #CCECFF;
    border-color: #CCECFF;
    color: #000000;
}


.box.aktuell {
    background: none repeat scroll 0 0 #FFFFFF;
    border-color: #0000AA;
    color: #000000;
}


.box.brett,
.box.annonces {
    background: none repeat scroll 0 0 #333333;
    border-color: #333333;
    color: #FFFFFF;
}


.box.links {
    background: none repeat scroll 0 0 #333399;
    border-color: #333399;
    color: #FFFFFF;
}

.box.medien {
    background: none repeat scroll 0 0 #FFCC99;
    border-color: #FFCC99;
    color: #000000;
}

.box.mithelfen {
    background: none repeat scroll 0 0 #FFFFFF;
    border-color: #0000AA;
    color: #000000;
}



#nav {
    float: left;
    width: 300px;
}
#nav .box {
    border-left-style: solid;
    border-left-width: 3px;
    border-top-style: solid;
    border-top-width: 3px;
    margin: 0;
    min-height: 146px;
}
.box ul {
    list-style: none outside none;
    margin: 0;
    padding: 0 0 10px 17px;
}
.box li {
    padding-left: 18px;
}
.box.neg li {
    background: url("../img/nav_neg.png") no-repeat scroll 0 2px transparent;
    color: #FFFFFF;
}
.box.pos li {
    background: url("../img/_nav_pos.png") no-repeat scroll 0 2px transparent;
}
.box.pos li:hover {
    background: url("../img/_nav_pos_on.png") no-repeat scroll 0 2px transparent;
}

.box a {
    display:block;
    height:100%;
}
.box.neg a {
    color: #FFFFFF;
    text-decoration: none;
}
.box.pos a {
    color: #0000AA;
    text-decoration: none;
}
.nav2 {
    list-style: none outside none;
    margin: 0;
    padding: 0;
}
.nav2 li {
    border-bottom: 1px solid #999999;
    margin: 0;
    padding: 0;
}
.nav2 a {
    color: #000000;
    display: block;
    font-size: 14px;
    font-weight: bold;
    line-height: 16px;
    margin: 0;
    padding: 10px 0 10px 15px;
    text-decoration: none;
}
.nav2 a:hover {
    background: none repeat scroll 0 0 #EEEEEE;
}
.box.neg li.active {
    background: url("../img/nav_neg_on.png") no-repeat scroll 0 2px transparent;
}
.box.pos li.active {
    background: url("../img/_nav_pos_on.png") no-repeat scroll 0 2px transparent;
}
.box.pos li:hover {
    background: url("../img/_nav_pos_on.png") no-repeat scroll 0 2px transparent;
}
li a.active {
    font-weight: bold;
    color:#0000AA;
    text-decoration:none;
}
li a.active:focus {
    color:#FFF;
}
#content {
    float: left;
    margin-left: 25px;
    width: 575px;
    margin-top:20px;
}
#content p.lead {
    font-weight: bold;
}
#content p {
    padding-right: 25px;
}
#content h1 {
    border-bottom: 1px solid #999999;
    font-size: 1.3em;
    line-height: 1.5em;
    margin: 0 0 10px;
    padding: 10px 0;
}
#content h1#page-title {
    padding-top:0px;
    margin-top:-5px;
}
.node-type-atelier #content h1#page-title ,
.node-type-beratungsstelle #content h1#page-title {
	    margin-top:5px;
}

#content .gridmenu h2 {
    background:none;
    padding:0px;;
}

/*#content h3,
#content h4 {
    background: url("../img/dot_black.png") no-repeat scroll 0 10px transparent;
    font-size: 14px;
    padding: 10px 0 0 20px;
}*/


.content-end {
    border-bottom: 1px solid #999999;
    border-top: 1px solid #999999;
    margin: 36px 0 0;
    padding: 20px 0;
}
#content h2 {
     font-size: 1.1em;
     font-weight:bold;
     padding: 10px 0 0 20px;
     background: url("../img/subtitle_bg.png") no-repeat scroll -2px -4px #0000AA;
}

#content.sehbehinderung h2 {
    background-color: #CCFFCC;
}
#content.dienste h2 {
    background-color: #FFFF99;
}
#content.verband h2 {
    background-color: #CFE9FC;
}
#content.aktuell h2 {
    background-color: #0000AA;
}
#content.brett h2 {
    background-color: #000000;
}
#content.links h2 {
    background-color: #333399;
}
#content.medien h2 {
    background-color: #FFCC99;
}
#content.mithelfen h2 {
    background-color: #0000AA;
}

#content h3,
#content h4,
#content h5,
#content h6,
#content h7,
#content h8
 {
    font-weight:bold;
    font-size: 1.1em;
     background:none;
     padding: 10px 0 0 0px;
     background-color:none;
     /*font-style:italic;*/
}

.moodimg {
    height: 150px;
    margin-bottom: 38px;
    overflow: hidden;
}
.selected {
    color: #0000AA !important;
}
.breadcrumb {
    padding: 0 0 10px;
    display:inline;
}
.breadcrumb a {
    /*background: url("../img/bread_div.png") no-repeat scroll 0 0 transparent;*/
    /*padding: 0 4px 0 14px;*/
    text-decoration: none;
}
.breadcrumb a.first {
    background: none repeat scroll 0 0 transparent;
    padding-left: 18px;
}
.breadcrumb a:hover {
    text-decoration: underline;
}
.sektion {
    /*background: url("../img/sbv_icon_sektion.png") no-repeat scroll 0 0 #C0DDFF !important;*/

}
.disable .sektion .block-menu h2 {
    font-size:1.7em;
    background: url("../img/sbv_icon_sektion.png") no-repeat scroll 0 0 !important;
    border-color: #0000AA;
    color: #0000AA;
    width:300px;
    height:90px;
}
.disable .atelier .block-menu h2 {
    font-size:1.7em;
    background: url("../img/sbv_icon_atelier.png") no-repeat scroll 0 0 !important;
    border-color: #0000AA;
    color: #0000AA;
    width:300px;
    height:90px;
}
.disable .beratung .block-menu h2 {
    font-size:1.7em;
    background: url("../img/sbv_icon_beratung.png") no-repeat scroll 0 0 !important;
    border-color: #0000AA;
    color: #0000AA;
    width:300px;
    height:90px;
}


/* monkee.ch sbv specials */

/* Submenu in a box */
div#sidebarboxtop {
    border-left-style: solid;
    border-left-width: 3px;
    border-top-style: solid;
    border-top-width: 3px;
    margin: 0;
    margin-top:10px;
}
div.region-sidebar-first {
        border-left-style: solid;
        border-left-width: 3px;
        margin: 0;
        width:300px;
}
/* Sektionsfarben */
.green div.region-sidebar-first,
.green div#sidebarboxtop {
    border-color:#CCFFCC;
    background-color:#F4FFF4;
}

.sehbehinderung div.region-sidebar-first,
.sehbehinderung div#sidebarboxtop {
    background-color: #F4FFF4;
    border-color: #CCFFCC;
    color: #FFFFFF;
}
.dienste div.region-sidebar-first,
.dienste div#sidebarboxtop {
    background-color: #FFFFEA;
    border-color: #FFFF99;
    color: #000000;
}
.verband div.region-sidebar-first,
.verband div#sidebarboxtop {
    background-color: #F4FBFF;
    border-color: #CCECFF;
    color: #000000;
}
.aktuell div.region-sidebar-first,
.aktuell div#sidebarboxtop {
    background-color: #FFFFFF;
    border-color: #0000AA;
    color: #000000;
}
.brett div.region-sidebar-first,
.brett div#sidebarboxtop{
    background-color: #EEEEEE;
    border-color: #333333;
    color: #FFFFFF;
}
.links div.region-sidebar-first,
.links div#sidebarboxtop {
    background-color: #333399;
    border-color: #333399;
    color: #FFFFFF;
}
.medien div.region-sidebar-first,
.medien div#sidebarboxtop {
    background-color: #FFF4EA;
    border-color: #FFCC99;
    color: #000000;
}
.mithelfen div.region-sidebar-first,
.mithelfen div#sidebarboxtop {
    background-color: #FFFFFF;
    border-color: #0000AA;
    color: #000000;
}
.kontakt div.region-sidebar-first,
.kontakt div#sidebarboxtop {
    background-color: #ECECFF;
    border-color: #333399;
    color: #000000;
}

/* END Sektionsfarben */




/* SubDomains Atelier, Beratung, Sektion */
.atelier div.region-sidebar-first,
.beratung div.region-sidebar-first,
.sektion div.region-sidebar-first {
    border-left:none;
}

div.content ul.menu {
    list-style: none outside none;
        margin: 0;
        padding: 0;
        margin-left:15px;
        padding-bottom:0.6em;
}
#block-menu-block-2 div.content ul.menu {
        margin-left:0px;
}
div#sidebarboxtop {
    padding-left:15px;
}
div#sidebarboxtop h1 {
    padding-bottom:10px;
    font-weight:bold;
    color:#0000AA;
}
div.content ul.menu li a {
    padding-left:20px;
    display:block;
}
.sektion div.content ul.menu li a,
.atelier div.content ul.menu li a,
.beratung div.content ul.menu li a  {
    padding-left:0px;
    margin-left:-10px;
}

div.content div.menu-level-2 ul.menu li {
    background: url("../img/_nav_pos.png") no-repeat scroll 0 7px transparent;
}
div.content div.menu-level-2 ul.menu li.active-trail {
    background: url("../img/_nav_pos_on.png") no-repeat scroll 0 7px transparent;
}
div.content div.menu-level-2 ul.menu li:hover {
    /*background: url("../img/nav_li_hover.png") no-repeat scroll 0 2px transparent;*/
    background: url("../img/_nav_pos_on.png") no-repeat scroll 0 7px transparent;
}


/* Level 1 Menu */
div.menu-level-1 li {
    border-bottom: 1px solid #999999;
        margin: 0;
        padding: 0;
}

div.menu-level-1 li a {
    color: #000000;
    display: block;
    font-size: 1.1em;
    font-weight: bold;
    line-height: 1.1em;
    margin: 0;
    padding: 10px 0 10px 15px;
    text-decoration: none;
}
div.menu-level-1 li a:hover {
        background:#eeeeee;
}
div.menu-level-1 li a:focus {
        color:#FFF;
}
div.menu-level-1 li a.active-trail {
    color: #0000AA;
}
div.menu-level-1 li a.active-trail:focus {
    color: #FFF;
}

/* Level 2 BoxMenu */
ul.menu ul.menu {
    padding-left:15px;
}


/* Sidebar */

div.region-sidebar-first {
    width:300px;
    margin-top:-10px;
    min-height:105px;
    border-left: 3px solid black;
}
div#sidebarboxtop {
    width:285px;
}

/* Search */
#edit-search-block-form--2 {
    background: none repeat scroll 0 0 #0000AA;
    border: 1px solid #0000AA;
    color: #FFFFFF;
    margin-right: 10px;
    padding: 3px;
}

/* Login */
#block-user-login {
    color:#000000;
    float: left;
    margin-top: -100px;
}
#block-user-login .content {
    display:none;
}
#block-user-login h2 {
    cursor:pointer;
}
#block-user-login .form-actions {
    padding-top:35px;
}

/* Adresse unten */
#block-block-4,
#block-block-5 {
    float: left;
    padding-left: 14px !important;
}
.node-type-homepage #block-block-4,
.node-type-homepage #block-block-5 {
    float: left;
    padding-left: 45px !important;
}


/* Ausblenden */
.node-sektion div.content div.form-item {
	display:none;
	/* Sprache in nodes ausblenden */
}
#name-and-slogan {
    display:none;
}
.error {
    display:none;
}
form .error,
label.error {
    display:inline;
}
#header #secondary-menu {
    display:none;
}
.field-name-field-sectionheader {
    display:none;
}
#edit-field-sectionheader.field-name-field-sectionheader {
    display:block;
}

.field-name-field-color {
    display:none;
}
#block-system-powered-by {
    display:none;
}
#header ul.language-switcher-locale-url li.it,
#header ul.language-switcher-locale-url li.en
{
    display:none !important;
}

ul.inline li.translation_de,
ul.inline li.translation_fr {
    display:none;
}

/* Aktuell Menü */
div.content div.menu-level-2 ul.menu li.menu-mlid-3715,
div.content div.menu-level-2 ul.menu li.menu-mlid-3716 {
    display:none !important;
}

/* Sprache: undefined ... Sprache: Deutsch usw unterhalb des Main-Conents*/



/* Language */
.region-header ul.language-switcher-locale-url li.active {
    display:none;
}

.region-header ul.language-switcher-locale-url span.locale-untranslated {
    display:none;
}

/* Monkee.ch */
#block-block-1 a {
    float:right;
}
#block-block-1 a {
    color:#dddddd;
}
#block-block-1 a:hover {
    color:#FF6600;
}


.tabs ul.primary li a[href$='/track'] {
    display:none;
}


/* Document Image Icons */

/*a[href^="http:"] {
    display:inline-block;
    padding-right:19px;
    background:transparent url(/sites/all/modules/themes/sbvfsa/images/icons/extern.gif) center right no-repeat;
}*/
/*a[href^="mailto:"] {
    display:inline-block;
    padding-left:20px;
    line-height:18px;
    background:transparent url(/Images/MailTo.gif) center left no-repeat;
}*/
a[href$='.pdf'] {
    display:inline-block;
    padding-left:20px;
    line-height:18px;
    background:transparent url(/sites/all/modules/themes/sbvfsa/images/icons/pdf.png) center left no-repeat;
}
a[href$='.doc'], a[href$='.rtf'], a[href$='.txt'], a[href$='.wps'], a[href$='.odt'], a[href$='.docx'], a[href$='.dot'] {
    display:inline-block;
    padding-left:20px;
    line-height:18px;
    background:transparent url(/sites/all/modules/themes/sbvfsa/images/icons/doc.png) center left no-repeat;
}
a[href^='#top'], a[href^='#Top'], a[href^='#TOP'] {
    display:inline-block;
    padding-left:20px;
    line-height:18px;
    background:transparent url(/sites/all/modules/themes/sbvfsa/images/icons/top.png) center left no-repeat;
}

/* Overwrite External Link Icon! */
span.ext {
    background:none;
    padding:0px;
}


/* ReadSpeaker Additions */
span.readspeakerbutton.de {
	height:16px;
	width:90px;
	background:url(/sites/all/modules/themes/sbvfsa/img/listen_de_de.gif) no-repeat;
	display:block;
}
span.readspeakerbutton.fr {
	height:16px;
	width:90px;
	background:url(/sites/all/modules/themes/sbvfsa/img/listen_fr_fr.gif) no-repeat;
	display:block;
}
#readspeaker_button1 a:focus span {
    border:#0000AA 4px dotted;
    border-radius:2px;
    widh:100px;
}
