#header div.section, 
#featured div.section, 
#messages div.section, 
#main, 
#triptych, 
#footer-columns, 
#footer {
    margin-left: 5px;
    margin-right: auto;
    width: 100%;
}

.region-footer-fourthcolumn {
    left: 0;
    margin-left: 730px;
    position: absolute;
    top: 60px;
    width: 200px;
}


.no-sidebars #content {
	width:100%;
}
.node-type-homepage #main {
    width: 100%;
}
.home .box {
	width:30% !important;
}




/* SBV Kampagne 2014 */
/*left*/
.main .wrapper, 
body div.header,
.header .inner {
    max-width:100% !important;
}

/* ReDesign 2015 */
.container {
    width:100%;
    float:left;
}

.noLupe {
  display:none;
}
