body {
    background: none repeat scroll 0 0 #000000;
    color: #FFFFFF !important;
    background-color:#000000 !important;
}
#page, #main-wrapper, #main-menu-links li a.active, #main-menu-links li.active-trail a {
    background: none repeat scroll 0 0 #000000;
}
.node-type-homepage #main {
    width: 935px;
}
a {
    color: #FFFFFF;
}
a:link, a:visited {
    text-decoration:underline !important;
}
a.ext {
    background: url("../img/link_extern_neg.png") no-repeat scroll right center transparent;
}

.breadcrumb span a {
    color: #FFF;
}

span.logo {
    background:url(/sites/all/modules/themes/sbvfsa_intranet/img/logo_deutsch_neg.png) no-repeat;
}
span.logo.de {
    background:url(/sites/all/modules/themes/sbvfsa_intranet/img/logo_deutsch_neg.png) no-repeat;
}
span.logo.fr {
    background:url(/sites/all/modules/themes/sbvfsa_intranet/img/logo_fr_neg.png) no-repeat;
}
span.logo.it {
    /*background:url(/sites/all/modules/themes/sbvfsa/img/logo_it_neg.png) no-repeat;*/
}

/* access */
span.plus {
    width:37px;
    height:34px;
    background:url(/sites/all/modules/themes/sbvfsa/img/plus_neg.png) no-repeat;
    display:inline-block;
}
span.minus {
    width:37px;
    height:34px;
    background:url(/sites/all/modules/themes/sbvfsa/img/minus_neg.png) no-repeat;
    display:inline-block;
}
span.contrast,
span.highcontrast {
    width:37px;
    height:34px;
    background:url(/sites/all/modules/themes/sbvfsa/img/contrast_neg.png) no-repeat;
    display:inline-block;
}
span.goleft {
    background:url(/sites/all/modules/themes/sbvfsa/img/left_neg.png) no-repeat;
}
.region-header, .region-header a, .region-header li a.active, #name-and-slogan, #name-and-slogan a, #secondary-menu-links li a {
    color: #FFF;
}
#edit-search-block-form--2 {
    background: none repeat scroll 0 0 #FFF;
    border: 1px solid #FFF;
    color: #000;
}

#topnav li, #accessnav li {
    border-left: 1px solid #FFFFFF;
}
#topnav a, #accessnav a {
    text-decoration: underline;
}
#topnav li.noborder, #accessnav li.noborder {
    border-left: 1px solid #000000;
}
#footer {
    color: #FFFFFF;
}
.searchfield {
    background: none repeat scroll 0 0 #000000;
    border: 1px solid #FFFFFF;
    color: #FFFFFF;
}
.home {
    background: none repeat scroll 0 0 #000;
    padding: 3px 2px 2px 3px;
}
.home .box {
    background-color: #000000;
    color: #FFFFFF;
    height: 10.8em;
    margin: 0px;
    width: 293px;
    border: 6px solid white;
}
.home .box:hover {
    background-image: url("../img/next_neg.png");
    background-position: right top;
    background-repeat: no-repeat;
}
.home .box.neg:hover {
    background-image: url("../img/next_neg.png");
}
.home .box.pos {
    color: #FFFFFF;
}
.home .box.neg {
    color: #FFFFFF;
}
#nav {
    width: 300px;
}
div.menu-level-1 li a.active-trail {
    color: #fff !important;
}
div.menu-level-1 li a:hover {
        color:#000 !important;
}
 
div#sidebarboxtop,
#nav .box {
    background: none repeat scroll 0 0 #000000 !important;
    border-color: #FFFFFF !important;
    border-left: 3px solid #FFFFFF !important;
    border-top: 3px solid #FFFFFF !important;
    color:#ffffff;
}
div.menu-level-1 li a {
    color:#ffffff;
}
.sidebar .block {
    background-color: #000;
    border-color: #F9F9F9;
}

.home .box:hover {
    background-image: url("../img/next_neg.png");
}
.home .box {
    color: #FFFFFF;
}

.box li {
    background: url("../img/nav_li.png") no-repeat scroll 0 2px transparent;
    color: #FFFFFF;
}

.box.neg a {
    color: #FFFFFF;
    text-decoration: none;
}
.nav2 a {
    color: #FFFFFF;
}
.div.menu-level-1 li a:hover,
.nav2 a:hover {
    background: none repeat scroll 0 0 #333333 !important;
    color:#fff;
}
.box.pos a {
    color: #fff;
    text-decoration: none;
}
.box li.on {
    background: url("../img/nav_li_on.png") no-repeat scroll 0 2px transparent;
}
.box li.on {
    background: url("../img/nav_li_on.png") no-repeat scroll 0 2px transparent;
}
.box li:hover {
    background: url("../img/nav_li_hover.png") no-repeat scroll 0 2px transparent;
}
#content .box h2 {
    background:#000;
}
#content h1 {
    color:#fff;
}

#content h2,
#content h3, 
#content h4 {
    background: url("../img/subtitle_bg_neg.png") no-repeat scroll -2px -4px #0000AA;
}
.selected {
    color: #888888 !important;
}

li a.active {
    color: #ffffff;
}
a:hover, a:focus {
    color:#ddd;
}
div.content div.menu-level-2 ul.menu li {
    background: url("../img/nav_neg.png") no-repeat scroll 0 7px transparent;
}
div.content div.menu-level-2 ul.menu li.active-trail {
    background: url("../img/nav_neg_on.png") no-repeat scroll 0 7px transparent;
}
div.content div.menu-level-2 ul.menu li:hover {
    background: url("../img/nav_neg_on.png") no-repeat scroll 0 7px transparent;
}

#footer-wrapper a {
    color: #ffffff;
    text-decoration:underline;
}

/* Sektionen Ateliers Beratungsstellen*/
.sektion .block-menu h2 {
    background: url("../img/sbv_icon_sektion_neg.png") no-repeat scroll 0 0 transparent !important;
    border-color: #ffffff;
    color: #ffffff;
}
.atelier .block-menu h2 {
    background: url("../img/sbv_icon_atelier_neg.png") no-repeat scroll 0 0 !important;
    border-color: #ffffff;
    color: #ffffff;
}
.beratung .block-menu h2 {
    background: url("../img/sbv_icon_beratung_neg.png") no-repeat scroll 0 0 !important;
    border-color: #ffffff;
    color: #ffffff;
}

/* Ateliers, Beratung, Sektionen
----------------------------*/

div.leftheader {
    border-top:2px solid #fff;
    border-left:2px solid #fff;
    background:#000;
}
.sidebar div.leftheader h2 {
    color:#FFFFFF;
}

.atelier div.leftheader div.leftheaderimg {
    background:url(/sites/all/modules/themes/sbvfsa/img/sbv_icon_atelier.png) no-repeat;
}
.sektion div.leftheader div.leftheaderimg {
    background:url(/sites/all/modules/themes/sbvfsa/img/sbv_icon_sektion.png) no-repeat;
}
.beratung div.leftheader div.leftheaderimg {
    background:url(/sites/all/modules/themes/sbvfsa/img/sbv_icon_beratung.png) no-repeat;
}

#block-user-login {
    color:#ffffff;
}

/* ReadSpeaker */
span.readspeakerbutton.de {
	height:16px;
	width:90px;
	background:url(/sites/all/modules/themes/sbvfsa/img/listen_de_de_white.gif) no-repeat;
	display:block;
}
span.readspeakerbutton.fr {
	height:16px;
	width:90px;
	background:url(/sites/all/modules/themes/sbvfsa/img/listen_fr_fr_white.gif) no-repeat;
	display:block;
}

#triptych h2 {
	color:#FFFFFF !important;
}



/* Forms */
fieldset {
  background: #000;
  border: 1px solid #fff;
  margin-top: 10px;
  margin-bottom: 32px;
  padding: 0 0 10px;
  position: relative;
  top: 12px; /* Offsets the negative margin of legends */
  -khtml-border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  color:#fff;
}
fieldset legend {
  background: #000;
  border: 1px solid #FFF;
  color: #FFF;
  display: block;
  height: 2em;
  left: -1px; /* LTR */
  font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, sans-serif;
  line-height: 2;
  padding: 0;
  position: absolute;
  text-indent: 10px;
  text-shadow: 0 1px 0 #333;
  top: -12px;
  width: 100%;
  -khtml-border-radius-topleft: 4px;
  -moz-border-radius-topleft: 4px;
  -webkit-border-top-left-radius: 4px;
  border-top-left-radius: 4px;
  -khtml-border-radius-topright: 4px;
  -moz-border-radius-topright: 4px;
  -webkit-border-top-right-radius: 4px;
  border-top-right-radius: 4px;
}
fieldset.collapsed legend {
  -khtml-border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
fieldset legend a {
  color: #FFF;
}
fieldset legend a:hover,
fieldset legend a:focus,
fieldset legend a:active {
  color: #FFF;
}
input.form-text,
textarea.form-textarea,
select.form-select {
  border: 1px solid #FFF;
  background:#000;
  color:#fff;
}
input.form-submit,
a.button {
  /*background: #fff url(../images/buttons.png) 0 0 repeat-x;*/
  border: 1px solid #fff;
  border-bottom: 1px solid #fff;
  border-left-color: #fff;
  border-right-color: #fff;
  color: #fff;
  background:#000;
}



/* Tastaturfokus */
div.menu-level-1 li a.active-trail a:focus,
#content a.ext:focus,
a:focus {
	background: #FFF !important;   
	color: #000 !important;
}
a:focus {
    background:transparent;
}
#content .field-name-body a:focus {
	background: #FFF;   
	color: #000;
}
div.menu-level-1 li a.active-trail:focus {
    color: #000 !important;
}
div.access li a:focus span {
    border:#FFF 3px dotted;
    border-radius:10px;
}
#readspeaker_button1 a:focus span {
    border:#FFF 4px dotted;
}


/* Kontrast fixes */
#triptych-wrapper {
    background: #000;
}
table tr td, table tr th {
    border: 1px solid #FFFFFF;
    color: #fff;
    background:#000;
}
a:link, a:visited, a {
    text-decoration: underline !important;
    color:#fff !important;
}
.tabs ul.primary,
.tabs ul.primary li a,
.tabs ul.primary li.active a {
    background: #000;
    text-shadow: none;
}
#page {
    background: none repeat scroll 0 0 #000000;
    color: #FFFFFF;
}
ul.tips, div.description, .form-item div.description {
    color: #FFF;
}
a {
    color: #FFFFFF;
    text-decoration: underline;
}
