
/* ---------- Basic Layout Styles ----------- */

html,
body,
#page  {
  height: 100%;
}
#page-wrapper {
  min-height: 100%;
  min-width: 960px;
}
#header div.section,
#featured div.section,
#messages div.section,
#main,
#triptych,
#footer-columns,
#footer {
  width: 960px;
  margin-left: auto;
  margin-right: auto;
}
#header div.section {
  position: relative;
}
.region-header {
  float: right; /* LTR */
  margin: 0 5px 10px;
}
.sectionheader img {
    padding-top:0px;
    padding-bottom:35px;
}
.front .beratung .sectionheader {
    display:none;
}
.with-secondary-menu .region-header {
  margin-top: 8px;
}
.without-secondary-menu .region-header {
  margin-top: 15px;
}
#secondary-menu {
  position: absolute;
  right: 0; /* LTR */
  top: 0;
  width: 480px;
}
#content,
#sidebar-first,
#sidebar-second,
.region-triptych-first,
.region-triptych-middle,
.region-triptych-last,
.region-footer-firstcolumn,
.region-footer-secondcolumn,
.region-footer-thirdcolumn,
.region-footer-fourthcolumn {
  display: inline;
  float: left; /* LTR */
  position: relative;
}
.one-sidebar #content {
  width: 575px;
}

.node-type-homepage #content {
    width:915px;
}
.two-sidebars #content {
  width: 575px;
}
.no-sidebars #content {
  width: 960px;
  float: none;
}
#sidebar-first,
#sidebar-second {
  width: 300px;
  border-top: 3px solid black;
  border-left: 3px solid black;
}

#main-wrapper {
  min-height: 300px;
}
#content .section,
.sidebar .section {
  padding: 0;
}
#breadcrumb {
  margin: 0 2px;
}
.region-triptych-first,
.region-triptych-middle,
.region-triptych-last {
  margin: 20px 20px 30px;
  width: 280px;
}
#footer-wrapper {
  padding: 35px 5px 30px;
}
.region-footer-firstcolumn,
.region-footer-secondcolumn,
.region-footer-thirdcolumn,
.region-footer-fourthcolumn {
  padding: 0 10px;
  width: 220px;
}
#footer {
  width:890px;
  min-width: 890px;
}

ul.gridmenu {
    width:100%;
}

#block-system-navigation,
#block-system-management,
#block-system-main-menu,
#block-user-login,
#block-system-user-menu {
    padding-top:25px;
}

.not-logged-in div.access {
    left: 740px;
}


.region-footer-fourthcolumn {
    position: absolute;
    right: 50%;
    top: 60px;
    width: 200px;
    margin-right:-485px;  
}
.toolbar .region-footer-fourthcolumn {
    top: 140px;    
}
div.access {
    float: right;
    width: 200px;
    border:none;
    margin-right:10px;
}
div.access li {
    display:inline;
    float:left;
    border:none;
}
div.access li a {
    text-decoration:none;
    border:none;
}
div.access li a:focus span {
    border:#0000AA 3px dotted;
    border-radius:10px;
}
div.access li a span {
    text-decoration:none;
    border:none;
}
#highlighted {
    border:none !important;
}

/* Ateliers, Beratung, Sektionen
----------------------------*/

span.leftheader {
    width:290px;
    height:10em;
    margin-bottom:20px;
    border-top:2px solid #0000AA;
    border-left:2px solid #0000AA;
    background:lightblue;
    padding-top:10px;
    padding-left:10px;
    margin-right:10px;
    margin-top:20px;
    overflow:hidden;
    display:block;
}
span.leftheader h2 {
    height:70px;
    float: left;
    font-size: 1.6em;
    line-height: 1.1em;
    width: 200px;
    display:inline;
}

.sidebar div.leftheader h2 {
    border-bottom:none;
    color:#0000AA;
}
span.leftheader span.leftheaderimg {
    float: left;
    height: 200px;
    margin-left: -5px;
    margin-top: -100px;
    width: 300px;
    display:block;
}
.atelier span.leftheader span.leftheaderimg {
    background:url(/sites/all/modules/themes/sbvfsa/img/sbv_icon_atelier.png) no-repeat;
}
.sektion span.leftheader span.leftheaderimg {
    background:url(/sites/all/modules/themes/sbvfsa/img/sbv_icon_sektion.png) no-repeat;
}
.beratung span.leftheader span.leftheaderimg {
    background:url(/sites/all/modules/themes/sbvfsa/img/sbv_icon_beratung.png) no-repeat;
}

#header ul.menu {
    width:auto;
}



