/* Accessibility */
.ScreenReader {
  position:absolute;
  left:-10000px;
  top:auto;
  width:1px;
  height:1px;
  overflow:hidden;
}
/*
Schwarz 0D0C00
Weiss FFFFFF
Blau 000089
Komplementäre Farben
Gelb FFD100 für Beratung
Orange FF6819 für Kurse
Beige EBD9A7 für Engagement
Grün 3FCC14 (mit schwarzer Schrift) für Spenden 

*/
/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 20px !important; // Spalt zwischen TopNav und Content, 20px
  padding-bottom: 20px;
  font-size: 18px;
  line-height: 1.7;
  background: #ffffff;
  color: #0D0C00; /* Almost Black */
}

/* a */
.content span a {
    color:#ffffff;
}
.content span.fieldset-legend a,
.content span.field-content a {
    color: #000089;
}

a button.btn-default {
  font-weight:bold;
}
a button.btn-default {
    border: 1px solid #0c24ac;
    border-radius: 0;
    color: #0c24ac;
    font-weight: bold;
}

/* Tools */
div.language {
  padding-top:10px;
}
div.region-tagline-tools {
  float:left;
  margin-top:10px;
}

div.access {
  float:left;
}
div.accesstools {
  background: #ffffff none repeat scroll 0 0;
  padding-left:20px;
}
.accesstools ul {
  float:left;
}
.accesstools i {
 font-size:2em;
}
.accesstools li {
  display:inline;
  padding-right:10px;
}


div.search {
  float:left;
  padding-left:40px;
}
div.search i {
    color: #000089;
    padding-right: 10px;
}
#block-search-form
div.search input:focus {
  z-index: 10;
}
div.region-search {
  float:right;
}

div.search input {
    background: #000089 none repeat scroll 0 0;
    border: 2px solid #000089;
    color: #fff;
}



.breadcrumb > .active {
  color:#000;
}

div.toplogo {
    margin-left:-15px;
}


div.contact {
  font-size: 1.5em;
  padding-left:0px;
  padding-right:0px;
  padding-top:0px;
}
div.contact span {
  float: right;
  color:#000089;
}


/* Header 2 */
div.header2 {
  margin-bottom: 15px;
  margin-top: 0px;
}
.header2 div.tagline {
  color:#000089;
  padding-left:0px;
  width:100%;
}
.header2 div.tagline div.content {
  padding-top:20px; /* was 40 */
}


/* Sprache */
#block-locale-language li {
  list-decoration:none;
  display:inline;
}
#language-interface {
  padding-left:0px;
}

div.tools {
  margin-top:0px;
  padding-left:0px;
}

/* Main Menu */
div.menu-name-main-menu ul.menu {
  padding-left:7px;
}
ul.menu a {
  color:#000000;
}

ul.menu a.active,
ul.menu a.active-trail {
  font-weight:bold;
  text-decoration:none;

}
ul.menu a.active {
  text-decoration:underline;
    color:#000089;
}

/* no Sidebars */
body.no-sidebars #content {
  width:100%;
}
h1.title {
  color: #000089;
}

/* Typography Content */
/*
H1 war 36 -> neu 26
H2 war 30 -> neu 22
H3 war 24 -> neu 18
H4 war 18 -> neu 14
H5 war 14 -> neu 12
*/
.news-list h1,
.content h1 {
  font-size:26px;
}
.news-list h2,
.content h2 {
  font-size:22px;
}
.news-list h3,
.content h3 {
  font-size:18px;
}
.news-list h4,
.content h4 {
  font-size:14px;
}
.news-list h5,
.content h5 {
  font-size:12px;
}



/* MenuButtons Homepage */
div.MenuButtons {
  padding-bottom: 0px;
  padding-left: 25px;
  padding-right: 25px;
}
.MenuButtons div.MenuButton .panel {
  height:4.7em;
  min-widht:327px;
  color:#0D0C00;
}
.MenuButtons div.MenuButton span.glyphicon,
.MenuButtons div.MenuButton i.fa {
  color:#0D0C00;
  margin-right:15px;
}
.MenuButtons div.MenuButton span.glyphicon:hover,
.MenuButtons div.MenuButton i.fa:hover {
  color:#000089;
}
.MenuButtons div.MenuButton h2 {
  color:#0D0C00;
  font-size:2em;
  margin-top: 20px;
}
#Menu.TWS div.MenuButton h2 {
  font-size:1.5em;
}

.MenuButtons div.MenuButton h2:hover {
  color:#000089;
}
div.MenuButton {
  padding-left:5px;
  padding-right:5px;
}



.MenuButtons div.MenuButton .panel.link1 {
  background:#f1c232;
}
.MenuButtons div.MenuButton .panel.link2 {
  background:#ecac6a; 
}
.MenuButtons div.MenuButton .panel.link3 {
  background:#c8e1be;
}
.MenuButtons div.MenuButton .panel.link1:hover,
.MenuButtons div.MenuButton .panel.link2:hover,
.MenuButtons div.MenuButton .panel.link3:hover {
  background:#ccc;
}



/* Highlight */
.highlight div.article {
  padding:50px;
  background:#ffffff;
  border-color: #0D0C00;
  border-style: solid;
  border-width: 2px 2px 2px 2px;

}
.highlight div.article h1 {
  margin-top:5px;
}

.highlight span.teaser {
  font-weight:bold;
}

.highlight .date {
  font-size:0.9em;
}

.highlight .thumbnail {
  margin-right:20px;
}
.highlight img {
  width:100%;
  margin-top:10px;
}
.highlight .article img {
  padding-right:17px;
}

.highlight a.btn {
    float: left;
    font-weight: bold;
    margin-bottom: 20px;
    margin-left: -15px;
    margin-top: 20px;
}

.highlight .badge {
    background: #000089 none repeat scroll 0 0;
    border-radius: 0;
    left: -50px;
    padding: 7px 20px;
    position: relative;
    top: -40px;
}


/* News */
div.news-list {
  margin-top: 0px;
  margin-bottom: 20px;
}
div.news-list .header{
  border-left: 20px solid #000089;
  padding-left: 10px;
  margin-bottom: 10px; /* was 30 */
}
div.news-list .news .title {
  font-size:1.5em;
  display:inline;
}
div.news-list .news .date {
}
div.news-list .header button {
  margin-left:20px;
}
div.news-list div.row div.news {
  padding-top:15px;
}

div.news img {
  margin-bottom:25px;
}

div.assets {
  margin-top:30px; /* was 50 */
  margin-bottom:10px; /* was 50 */
}
div.assets ul {
  margin-top:15px; /* was 25 */
  margin-bottom:25px;
}



/*http://wwwtest.sbv-fsa.ch/de/homepage-news*/

.views-field views-field-field-kategorie {
  display:block;
}



/* Donate */
div.call-to-actions {
  float:right;
}
.donate .btn {
  background:#b6d6f2;
  border-color:#b6d6f2;
  font-size:1.2em;
  color:#0D0C00;
}
.donate .btn:hover {
  background:#CCC;
}


/* Events */
div.events {
  margin-top:30px;
}
.events .header {
  border-left:20px solid #a40a0a;
  padding-left:10px;
  background:#ffffff;
}

.events .btn {
  margin-top:20px;
}

/* Footer */

footer {
  background:#eeeeee;
  color:#000;
  padding-top:5px;
  margin-top:0px;
  margin-bottom:0px;
  padding-bottom:50px;
  border-top: #597eaa solid 4px;
  border-bottom: #597eaa solid 4px;
  font-size: 1.2em;
}

footer .header {
  color:#000;
  margin-bottom:6px;
  padding-bottom:10px;
  border-bottom:1px solid #000000;
}

footer h3 {
  font-size:1.2em;
  color:#000089;
}

footer li a {
  color:#000089;
}
footer li a:hover {
  color:#000000;
  text-decoration:underline;
}

footer li {
  list-style-type: none;
}
footer ul {
  padding-left:10px;
}

footer div.address {
 margin-top:20px;
 padding-left:0px;
 padding-top:7px;
 /*border-top:1px solid #000000;*/
}



div.intern {
  margin-top:0px; /* was 50px */
  border-top: #e69138 solid 4px;
  background: #ece3ba;
}
div.intern .col a {
  padding-right:20px;
}

/* Logos */
div.logos img {
  height: 50px;
}
div.logos {
  text-align:right;
}
div.logos a:not(:first-child) {
  margin-left:10px;
}


/* User Menues */
.usermenu {
  background:lightgrey;
  margin-top:0px;
  /*margin-bottom:50px;*/
}

#block-languageinterface-0 li {
  display:inline;
  list-style: none;
  padding-right:15px;
}
#block-languageinterface-0 li.en {
  display:none;lang
}

#search-block-form #edit-submit {
  display:none;
}

/*********************/
/* Responsive Fixes */
img {  
  page-break-inside: avoid;  
}  
img {  
  max-width: 100% !important;  
}  



/* Responisve */
img {
  max-width:100%;
}



/* Grid Gutter */
.OOOOOOOOOOLDcol:not(:first-child,:last-child) {
  padding-right:7px;
  padding-left:7px;
}

/* Bootstrap overrides */
body .btn-default {
    background-color: #ffffff;
    border-color: #000;
    color: #333333;
}
body .btn-default:hover {
    border-color: #000;
    color: #333333;
}

/* Drupal */

#toolbar {
  position:relative !important;
}

/* Event Calendar */
.node-event-calendar .field h3 {
   margin-bottom:0px;
   margin-top:0px;
}
.node-event-calendar .field-label-inline .field-label, 
.node-event-calendar .field-label-inline .field-items {
    float:none;
}
.node-event-calendar .field .taxonomy-term-reference-0 li {
    padding-left:0px;
}

/* ReadSpeaker */

span.readspeakerbutton.de {
    background: rgba(0, 0, 0, 0) url("/sites/all/themes/sbvfsa/img/listen_de_de.gif") no-repeat scroll 0 0;
    display: block;
    height: 16px;
    width: 90px;
}
span.readspeakerbutton.fr {
    background: rgba(0, 0, 0, 0) url("/sites/all/themes/sbvfsa/img/listen_fr_fr.gif") no-repeat scroll 0 0;
    display: block;
    height: 16px;
    width: 90px;
}

#readspeaker_button1 a:focus span {
    border: 4px dotted #0000aa;
    border-radius: 2px;
}

/* Veranstaltungen Kurse */
div.field-name-field-untertitel {
  font-weight:bold;
}

/* Hidden */

#block-locale-language .language-switcher-locale-url li.en {
  display:none;
}

.messages.error {
  display:none;
}

#search-block-form #edit-actions--2 {
  display:none;
}

ul.inline li.translation_fr,
ul.inline li.translation_de {
    display:none;
}
